/*********************************IMPORTS********************************************/

@use './variables' as *;
@use '../partials/typography' as *;

/************************************FONTS******************************************/

@mixin h1-hero-heading {
    font-family: AvenirNextLTProBold;
    font-size: 3.75rem; //60px 3.75rem
    line-height: 4.25rem; //68px 4.25rem
    color: $white;
}

@mixin h1-main-header {
    font-size: 1.5rem; //24px 1.5rem 7.75vw
    line-height: 2rem; //32px 2rem
    font-family: AvenirNextLTProBold;
    color: $white;
    @include tablet {
        font-size: 2.25rem; //36px 2.25rem
        line-height: 2.75rem; //44px
        font-family: AvenirNextLTProBold;
    }
}

@mixin h1-tablet-desktop {
    font-size: 36px; //36px 2.25rem 
    line-height: 44px; //44px 2.75rem
    font-family: AvenirNextLTProBold;
}


/*H2 - Header*/


/**subheader for mobile**/

@mixin h2-header {
    font-size: 0.875rem; //14px 0.875rem
    line-height: 1.375rem; //22px 1.375rem
    font-family: AvenirNextLTProDemi;
    color: $black;
    @include tablet {
        font-size: 1.5rem; //24px 1.5rem
        line-height: 2rem; //32px 2rem
        font-family: AvenirNextLTProBold;
    }
}


/*H3 - Subheader for Tablet and Desktop*/

@mixin h3-subheader {
    font-size: 16px;
    line-height: 24px;
    font-family: AvenirNextLTProDemi;
    color: $black;
}


/*H4 - Paragraph & comments*/

@mixin h4-paragraphs-and-comments {
    font-size: 13px;
    line-height: 18px;
    font-family: AvenirNextLTProRegular;
    color: $black;
    @include tablet {
        font-size: 14px;
        line-height: 22px;
        font-family: AvenirNextLTProRegular;
    }
}

@mixin p-paragraph {
    font-size: 13px;
    line-height: 18px;
    font-family: AvenirNextLTProRegular;
    color: $black;
    @include tablet {
        font-size: 14px;
        line-height: 20px;
        font-family: AvenirNextLTProRegular;
        display: inline-block;
    }
}


/*H5 - LABELS*/

@mixin h5-labels {
    font-size: 12px;
    line-height: 20px;
    font-family: AvenirNextLTProRegular;
    color: $black;
    @include tablet {
        font-size: 12px;
        line-height: 20px;
        font-family: AvenirNextLTProBold;
    }
    @include desktop {
        font-size: 12px;
        line-height: 20px;
        font-family: AvenirNextLTProBold;
    }
}

@mixin divider {
    border-bottom: 1px solid $mercury;
    width: 288px;
    @include tablet {
        width: 720px;
    }
    @include desktop {
        width: 1080px;
    }
}


/***************************************PADDING**************************/

@mixin standard-padding-left-right {
    padding: 0 1.0rem 0 1.0rem; //16px right 16px left { input: 16, rem: "1.0", mobileVW: "5.0", tabletVW: "2.1", desktopVW: "1.3" }
    @include tablet {
        padding: 0 1.5rem 0 1.5rem; //24px right 24px left  { input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9" }
    }
    @include desktop {
        padding: 0 5.0rem 0 5.0; //80px right 80px left { input: 80, rem: "5.0", mobileVW: "25.0", tabletVW: "10.4", desktopVW: "6.3" }
    }
}


/***********************************H*****************************************/

@mixin h4 {
    font-size: 13px;
    line-height: 18px;
    font-family: AvenirNextLTProRegular;
    @include tablet {
        font-size: 14px;
        line-height: 22px;
        font-family: AvenirNextLTProRegular;
    }
}

//H4 - Paragraph & comments
@mixin h4-list-contact-information {
    font-size: 13px;
    line-height: 18px;
    font-family: AvenirNextLTProRegular;
    @include tablet {
        font-size: 14px;
        line-height: 20px;
        font-family: AvenirNextLTProRegular;
    }
} //H3 - Subheader for Tablet and Desktop
@mixin h3-subheader {
    font-size: 16px;
    line-height: 24px;
    font-family: AvenirNextLTProDemi;
}


/********************************* FOR TABLETS*************************************/

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}


/********************************* DESKTOP*************************************/

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}