$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$breakpoint-larger-mobile: 321px;
$breakpoint-larger-tablet: 769px;
$breakpoint-larger-desktop: 1281px;
$black: #323232;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$white: #FFFF;
$brainflix-blue: #0065AD;