/*********************************IMPORTS********************************************/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
ol,
ul,
li,
article,
footer,
header,
menu,
nav,
section,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: lighter;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
menu,
nav,
body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************************************VARIABLES******************************************/
/********************************* BREAKPOINTS**********************************************************/
/********************************* FOR TABLETS**********************************************************/
/********************************* FOR DESKTOP*************************************/
/************************************FONTS******************************************/
@font-face {
  font-family: "AvenirNextLTProRegular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTProDemi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTProBold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
/*************************************H1 HERO HEADING************************************/
/*****************************************H1-Main-heading****************************/
/*********************************************H1 MAIN HEADER RESPONSIVE****************/
/*********************H2 - Header subheader for mobile*********************/
/****************************************H2 HEADER RESPONSIVE*********************/
/*******************************H3 - Subheader for Tablet and Desktop*************/
/********************H4 Paragraph & Comments*******************************/
/********************************h4-lists-and-contacts-information**************/
/************************************H4 Responsive*******************************/
/********************************P-Paragraph****************************/
/*******************************************H5-Labels***********************/
/************************************VARIABLES******************************************/
/***************************************PADDING**************************************************/
/**********************************************DIVIDERS******************************************************/
/************************************MAIN NAV************************************/
.main-nav {
  width: calc(100% - 10.0vw);
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #AFAFAF;
  width: 100%;
  min-height: 25vw;
  max-height: 10.4vw;
}
@media (min-width: 768px) {
  .main-nav {
    width: calc(100% - 6.2vw);
  }
}
@media (min-width: 1280px) {
  .main-nav {
    width: calc(100% - 12.6vw);
  }
}
@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    min-height: 10.4vw;
    max-height: 6.3vw;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .main-nav {
    min-height: 6.3vw;
    max-height: 6.3vw;
  }
}
.main-nav__trademark {
  margin: 5vw 0 0;
  min-width: 37.5vw;
  min-height: 7.5vw;
  max-width: 15.6vw;
  max-height: 3.1vw;
}
@media (min-width: 768px) {
  .main-nav__trademark {
    min-width: 15.6vw;
    min-height: 3.1vw;
    min-width: 15.6vw;
    min-height: 3.1vw;
  }
}
@media (min-width: 1280px) {
  .main-nav__trademark {
    min-width: 9.4vw;
    min-height: 1.9vw;
    max-width: 9.4vw;
    max-height: 1.9vw;
  }
}
.main-nav__trademark img {
  min-width: 37.5vw;
  min-height: 7.5vw;
  max-width: 15.6vw;
  max-height: 3.1vw;
}
@media (min-width: 768px) {
  .main-nav__trademark img {
    min-width: 15.6vw;
    min-height: 3.1vw;
    min-width: 15.6vw;
    min-height: 3.1vw;
  }
}
@media (min-width: 1280px) {
  .main-nav__trademark img {
    min-width: 9.4vw;
    min-height: 1.9vw;
    max-width: 9.4vw;
    max-height: 1.9vw;
  }
}
@media (min-width: 768px) {
  .main-nav__trademark {
    margin: 2.1vw 7.3vw 2.1vw 0;
  }
}
@media (min-width: 1280px) {
  .main-nav__trademark {
    margin: 1.3vw 4.4vw 1.3vw 0;
  }
}
.main-nav__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    align-items: stretch;
    width: 32.3vw;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  .main-nav__list {
    width: 28.7vw;
  }
}
.main-nav__item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 0 0 3.8vw 0;
}
@media (min-width: 768px) {
  .main-nav__item {
    align-items: center;
    width: 10.4vw;
    padding: 3.6vw 0;
    margin: 0 7.3vw 0 0;
  }
}
@media (min-width: 1280px) {
  .main-nav__item {
    width: 6.3vw;
    padding: 2.2vw 0;
    margin: 0 4.4vw 0 0;
  }
}
.main-nav__item--active {
  border-bottom: solid 1.6vw #FFFF;
}
@media (min-width: 768px) {
  .main-nav__item--active {
    border-bottom: solid 0.7vw #FFFF;
  }
}
@media (min-width: 1280px) {
  .main-nav__item--active {
    border-bottom: solid 0.4vw #FFFF;
  }
}
.main-nav__link {
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 4.1vw;
  line-height: 5.6vw;
  font-family: AvenirNextLTProDemi;
  color: #FFFF;
  text-decoration: none;
  color: #AFAFAF;
  text-decoration: none;
  transition: letter-spacing 0.1s;
}
@media (min-width: 768px) {
  .main-nav__link {
    font-size: 1.82vw;
    line-height: 2.6vw;
  }
}
@media (min-width: 1280px) {
  .main-nav__link {
    font-size: 1.1vw;
    line-height: 1.6vw;
  }
}
.main-nav__link:hover {
  letter-spacing: 1px;
}
.main-nav__link--active {
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 4.1vw;
  line-height: 5.6vw;
  font-family: AvenirNextLTProDemi;
  color: #FFFF;
}
@media (min-width: 768px) {
  .main-nav__link--active {
    font-size: 1.82vw;
    line-height: 2.6vw;
  }
}
@media (min-width: 1280px) {
  .main-nav__link--active {
    font-size: 1.1vw;
    line-height: 1.6vw;
  }
}

/************************************HERO CONTAINER****************************/
.hero-container {
  display: flex;
  position: relative;
  background-image: url("../assets/images/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  min-height: 147.5vw;
  max-height: 87.2vw;
}
.hero-container ::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
.hero-container__mobile-size-biography {
  min-height: 183px;
  max-height: 57.2vw;
}
@media (min-width: 768px) {
  .hero-container {
    min-height: 670px;
    max-height: 52.3vw;
  }
  .hero-container--sizing {
    min-height: 400px;
    max-height: 52.1vw;
  }
}
@media (min-width: 1280px) {
  .hero-container {
    margin: 0 0 3rem 0;
  }
}
.hero-container--scale {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-container__box {
  padding: 0 5vw 0 5vw;
  color: #FFFF;
  margin: 4rem 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero-container__box {
    padding: 0 3.1vw 0 3.1vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__box {
    padding: 0 6.3vw 0 6.3vw;
  }
}
.hero-container__box--mobile-box-size-shows {
  min-width: 288px;
  max-width: 90vw;
}
.hero-container__box--mobile-box-size-biography {
  min-width: 224px;
  max-width: 70vw;
}
@media (min-width: 768px) {
  .hero-container__box {
    margin: 6rem 0;
    min-width: 564px;
    max-width: 73.4vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__box {
    margin: 10rem 0;
    min-width: 568px;
    max-width: 43.1vw;
  }
}
.hero-container__title {
  font-size: 4.4vw;
  line-height: 6.9vw;
  font-family: AvenirNextLTProDemi;
  color: #323232;
  color: #FFFF;
}
@media (min-width: 768px) {
  .hero-container__title {
    font-size: 3.1vw;
    line-height: 4.2vw;
    font-family: AvenirNextLTProBold;
  }
}
@media (min-width: 1280px) {
  .hero-container__title {
    font-size: 1.9vw;
    line-height: 2.5vw;
  }
}
@media (min-width: 768px) {
  .hero-container__title {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-family: AvenirNextLTProDemi;
    color: #323232;
    color: #FFFF;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .hero-container__title {
    font-size: 1.5rem;
    line-height: 2;
    font-family: AvenirNextLTProBold;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .hero-container__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.hero-container__text {
  z-index: 1;
}
.hero-container__text--mobile-font-size-shows {
  font-family: AvenirNextLTProBold;
  font-size: 11vw;
  line-height: 13.8vw;
}
@media (min-width: 768px) {
  .hero-container__text--mobile-font-size-shows {
    font-size: 4.7vw;
    line-height: 5.7vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__text--mobile-font-size-shows {
    font-size: 2.8vw;
    line-height: 3.4vw;
  }
}
.hero-container__text--mobile-font-size-biography {
  color: #FFFF;
  font-family: AvenirNextLTProBold;
  font-size: 7.5vw;
  line-height: 10vw;
}
@media (min-width: 768px) {
  .hero-container__text--mobile-font-size-biography {
    font-size: 4.7vw;
    line-height: 5.7vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__text--mobile-font-size-biography {
    font-size: 2.8vw;
    line-height: 3.4vw;
  }
}
@media (min-width: 768px) {
  .hero-container__text {
    font-family: AvenirNextLTProBold;
    color: #FFFF;
    font-size: 3.8rem;
    line-height: 4.3rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .hero-container__text {
    font-size: 3.8rem;
    line-height: 4.3rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .hero-container__text {
    font-size: 3.8rem;
    line-height: 4.3rem;
  }
}
.hero-container__soundcloud {
  padding: 0 5vw 0 5vw;
  position: absolute;
  z-index: 1;
  align-self: flex-end;
  margin: 0 0 20vw 0;
  width: 90vw;
  height: 30vw;
}
@media (min-width: 768px) {
  .hero-container__soundcloud {
    padding: 0 3.1vw 0 3.1vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__soundcloud {
    padding: 0 6.3vw 0 6.3vw;
  }
}
@media (min-width: 768px) {
  .hero-container__soundcloud {
    margin: 0 0 6.3vw 0;
    width: 56.8vw;
    height: 19vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__soundcloud {
    padding: 0;
    margin: 0 0 14.7rem 0;
    position: relative;
    height: 146px;
    width: 436px;
  }
}

/************************************ABOUT SECTION************************************/
.about-section {
  background-color: #FFFF;
  color: #323232;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .about-section {
    padding: 0 1.5rem;
  }
}
.about-section__title {
  margin: 3rem 0;
  font-family: AvenirNextLTProBold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFF;
  color: #323232;
}
@media (min-width: 768px) {
  .about-section__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .about-section__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 768px) {
  .about-section__title {
    font-family: AvenirNextLTProBold;
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .about-section__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .about-section__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .about-section__title {
    padding: 0 0 0 5rem;
  }
}
@media (min-width: 1280px) {
  .about-section__content {
    padding: 0 0 0 10.8rem;
  }
}
.about-section__img {
  display: flex;
  justify-content: center;
  margin: 0px 0 1.5rem;
  min-width: 90vw;
  min-height: 45vw;
  max-width: 90vw;
  max-height: 45vw;
}
@media (min-width: 768px) {
  .about-section__img {
    margin: 0 0 0 0;
    min-width: 720px;
    min-height: 362px;
    max-width: 116.7vw;
    max-height: 58.6vw;
  }
}
@media (min-width: 1280px) {
  .about-section__img {
    margin: 0 0 0 0;
    min-width: 896px;
    min-height: 450px;
    max-width: 70vw;
    max-height: 35.2vw;
  }
}
.about-section__img--scale {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section__quote {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-family: AvenirNextLTProDemi;
  color: #323232;
  margin: 0 0 2rem 0;
  min-width: 90vw;
  max-width: 90vw;
}
@media (min-width: 768px) {
  .about-section__quote {
    font-size: 1.5rem;
    line-height: 2;
    font-family: AvenirNextLTProBold;
  }
}
@media (min-width: 1280px) {
  .about-section__quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about-section__quote {
    margin: 3rem 0 2.5rem 0rem;
    min-width: 720px;
    max-width: 116.7vw;
  }
}
@media (min-width: 1280px) {
  .about-section__quote {
    margin: 3rem 0 2.5rem 0;
    min-width: 780px;
    max-width: 60.9vw;
  }
}
.about-section__name {
  font-family: AvenirNextLTProRegular;
  color: #323232;
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin: 0 0 2.5rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: AvenirNextLTProDemi;
  color: #323232;
}
@media (min-width: 768px) {
  .about-section__name {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .about-section__name {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 768px) {
  .about-section__name {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about-section__name {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .about-section__name {
    margin: 0 0 2.5rem 0;
  }
}
@media (min-width: 1280px) {
  .about-section__name {
    margin: 0 0 2.5rem 0;
  }
}
.about-section__names {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-family: AvenirNextLTProDemi;
  color: #323232;
  margin: 0 0 1.5rem 0;
}
@media (min-width: 768px) {
  .about-section__names {
    font-size: 1.5rem;
    line-height: 2;
    font-family: AvenirNextLTProBold;
  }
}
@media (min-width: 1280px) {
  .about-section__names {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about-section__names {
    margin: 0 0 2.5rem 0;
  }
}
@media (min-width: 1280px) {
  .about-section__names {
    margin: 0 0 2.5rem 0;
  }
}
.about-section__text {
  font-family: AvenirNextLTProRegular;
  color: #323232;
  font-size: 0.8rem;
  line-height: 1.1rem;
  display: inline-block;
  margin: 0 0 2.5rem;
}
@media (min-width: 768px) {
  .about-section__text {
    font-size: 0.9rem;
    line-height: 1.3rem;
    display: inline-block;
  }
}
@media (min-width: 1280px) {
  .about-section__text {
    font-size: 0.9rem;
    line-height: 1.3rem;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .about-section__text {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .about-section__text {
    margin: 0 0 2.5rem 0;
  }
}
.about-section__top {
  margin: 0 0 1.5rem 0;
}
@media (min-width: 768px) {
  .about-section__top {
    margin: 0 3.1vw 0 0;
    min-width: 348px;
    max-width: 45.8vw;
  }
}
@media (min-width: 1280px) {
  .about-section__top {
    margin: 0 1.9vw 0 0;
    min-width: 420px;
    max-width: 29.1vw;
  }
}
@media (min-width: 768px) {
  .about-section__bottom {
    min-width: 348px;
    max-width: 45.8vw;
  }
}
@media (min-width: 1280px) {
  .about-section__bottom {
    min-width: 420px;
    max-width: 29.1vw;
    margin: 0 0 0 0;
  }
}

/************************************PHOTO GALLERY SECTION************************************/
.photo-gallery-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #FAFAFA;
  margin: 0 0 0 0;
  padding: 0 5vw 0 5vw;
  width: calc(100% - 10.0vw);
}
@media (min-width: 768px) {
  .photo-gallery-section {
    padding: 0 3.1vw 0 3.1vw;
  }
}
@media (min-width: 1280px) {
  .photo-gallery-section {
    padding: 0 6.3vw 0 6.3vw;
  }
}
@media (min-width: 768px) {
  .photo-gallery-section {
    width: calc(100% - 6.2vw);
  }
}
@media (min-width: 1280px) {
  .photo-gallery-section {
    width: calc(100% - 12.6vw);
  }
}
.photo-gallery-section__title {
  font-family: AvenirNextLTProBold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFF;
  color: #323232;
  margin: 2rem 0 1.5rem;
}
@media (min-width: 768px) {
  .photo-gallery-section__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery-section__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 768px) {
  .photo-gallery-section__title {
    margin: 3rem 0 4rem;
  }
}
.photo-gallery-section__photo {
  margin: 0px 0 1rem 0px;
  min-width: 90vw;
  min-height: 50.6vw;
  max-width: 90vw;
  max-height: 50.6vw;
}
@media (min-width: 768px) {
  .photo-gallery-section__photo {
    min-width: 224px;
    min-height: 126px;
    max-width: 29.16vw;
    max-height: 16.4vw;
    margin: 0px 1.6vw 3.1vw 0px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery-section__photo {
    min-width: 344px;
    max-width: 26.9vw;
    max-height: 15.1vw;
    margin: 0px 1.9vw 1.9vw 0px;
  }
}
.photo-gallery-section__photo--scale {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/************************************COMMENTS FEED SECTION************************************/
.article {
  padding: 0 5vw 0 5vw;
  background-color: #FFFF;
}
@media (min-width: 768px) {
  .article {
    padding: 0 3.1vw 0 3.1vw;
  }
}
@media (min-width: 1280px) {
  .article {
    padding: 0 6.3vw 0 6.3vw;
  }
}
@media (min-width: 768px) {
  .article {
    min-width: 68.8vw;
    max-width: 41.3vw;
  }
}
@media (min-width: 1280px) {
  .article {
    max-width: 41.3vw;
  }
}
.article__header {
  font-family: AvenirNextLTProBold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFF;
  color: #323232;
  min-width: 87.5vw;
  max-width: 58.2vw;
  display: inline-flex;
  margin: 2rem 0 2.5rem 0;
}
@media (min-width: 768px) {
  .article__header {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .article__header {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 768px) {
  .article__header {
    margin: 3rem 0rem 3.5rem 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .article__wrap {
    margin: 0 13vw 0 13vw;
  }
}
@media (min-width: 1280px) {
  .article__wrap {
    margin: 0 196px 0 196px;
  }
}
.article__binding {
  padding: 0 0 2rem;
}
.article .feed {
  padding: 0 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.article .feed__avi {
  width: 3rem;
  height: 3rem;
  border-radius: 33.3px;
  margin: 0 5vw 0 0;
  position: relative;
}
@media (min-width: 768px) {
  .article .feed__avi {
    margin: 0 2.1vw 0 0;
  }
}
@media (min-width: 1280px) {
  .article .feed__avi {
    margin: 0 1.3vw 0 0;
  }
}
.article .feed__boxes {
  padding: 0 0px 0 0px;
}
.article .feed input:focus,
.article .feed select:focus,
.article .feed textarea:focus,
.article .feed button:focus {
  outline: #323232;
  border-width: 0.2rem;
}
.article .feed__tag {
  box-sizing: border-box;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .article .feed__tag {
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .article .feed__tag {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
}
.article .feed__tag, .article .feed__alias-field, .article .feed__note-field {
  padding: 0 30vw 0 0;
}
.article .feed__alias-field {
  background-color: #FAFAFA;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  box-sizing: border-box;
  border-radius: 4px;
  align-self: right;
  margin: 1rem 0 1rem 0;
  width: 70vw;
  height: 10vw;
  padding: 1px 0 0 10px;
}
@media (min-width: 768px) {
  .article .feed__alias-field {
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .article .feed__alias-field {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 768px) {
  .article .feed__alias-field {
    width: 28.8rem;
    height: 3rem;
  }
}
.article .feed__note-field {
  background-color: #FAFAFA;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  box-sizing: border-box;
  border-radius: 0.25rem;
  width: 70vw;
  height: 20vw;
  margin: 1rem 0 1rem 0;
  resize: none;
  padding: 10px 0 0 10px;
}
@media (min-width: 768px) {
  .article .feed__note-field {
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .article .feed__note-field {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 768px) {
  .article .feed__note-field {
    width: 28.8rem;
    height: 6rem;
  }
}
.article .feed__button {
  background-color: #323232;
  font-family: AvenirNextLTProRegular;
  color: #323232;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #FFFF;
  font-family: AvenirNextLTProDemi;
  color: #FFFF;
  min-width: 65.5vw;
  max-width: 29.2vw;
  min-height: 10vw;
  max-height: 15vw;
  border-radius: 4px;
  margin: 1rem 0 1rem 0px;
}
@media (min-width: 768px) {
  .article .feed__button {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .article .feed__button {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
.article .feed__button:hover {
  background: #323232;
}
.article .feed__button:focus {
  outline: none;
}
@media (min-width: 768px) {
  .article .feed__button {
    min-width: unset;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    padding: 0;
    width: 160px;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .article .feed__button {
    padding: 0;
    margin: 1rem 0 1rem 0;
  }
}
@media (min-width: 768px) {
  .article .feed__button {
    float: right;
  }
}

/*****************************************CARD FEED SECTION***********************************/
.repository {
  display: flex;
  flex-flow: row wrap;
  margin: 1px 0rem 1rem 0;
}
@media (min-width: 768px) {
  .repository {
    margin: 0 124px 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .repository {
    margin: 40px 264px 0 0;
  }
}
.repository__empty-container {
  width: 90vw;
  padding: 1.5rem 0rem 0;
}
@media (min-width: 768px) {
  .repository__empty-container {
    width: 528px;
    margin: 0 auto;
    padding: 0rem 1rem 0;
  }
}
.repository__top-container {
  display: flex;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .repository__top-container {
    margin: 0 0 0 0;
  }
}
.repository__top-right-container {
  width: 62.5vw;
  padding: 0 0 1.5rem 0;
}
@media (min-width: 768px) {
  .repository__top-right-container {
    width: 27.8rem;
  }
}
.repository__top-right-left-container {
  padding: 1.5rem 0 0.5rem 0;
  display: flex;
  width: 100%;
}
.repository__border {
  background: #E1E1E1;
  width: 100%;
  height: 1px;
}
.repository__avi {
  margin: 0 1.3rem 0 0;
  height: 3rem;
  width: 3rem;
  border-radius: 33.33px;
}
.repository__name {
  width: 140px;
  font-family: AvenirNextLTProRegular;
  color: #323232;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-family: AvenirNextLTProBold;
}
@media (min-width: 768px) {
  .repository__name {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .repository__name {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 768px) {
  .repository__name {
    line-height: none;
    height: 1rem;
  }
}
.repository__time {
  height: 1rem;
  width: 132px;
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 0.8rem;
  line-height: 1.1rem;
}
@media (min-width: 768px) {
  .repository__time {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .repository__time {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 768px) {
  .repository__time {
    width: 132px;
  }
}
.repository__comment {
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 0.8rem;
  line-height: 1.1rem;
  width: 62.5vw;
}
@media (min-width: 768px) {
  .repository__comment {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .repository__comment {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 768px) {
  .repository__comment {
    width: 444px;
  }
}

/************************************FOOTER BANNER************************************/
.footer {
  background-color: #323232;
  padding: 0 5vw 0 5vw;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 3.1vw 0 3.1vw;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 6.3vw 0 6.3vw;
  }
}
.footer__binding {
  padding: 3rem 0;
}
.footer__network-partition {
  align-items: center;
  display: flex;
}
.footer__banner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__banner {
    margin: 0 0 3.5rem 0;
  }
}
@media (min-width: 768px) {
  .footer__banner-left {
    display: flex;
  }
}
.footer__title {
  color: #FFFF;
  font-family: AvenirNextLTProBold;
  font-size: 7.5vw;
  line-height: 10vw;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 4.7vw;
    line-height: 5.7vw;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    font-size: 2.8vw;
    line-height: 3.4vw;
  }
}
@media (min-width: 768px) {
  .footer__title {
    font-family: AvenirNextLTProBold;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFF;
    width: 52.1vw;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .footer__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    width: 31.3vw;
  }
}
.footer__network-partition {
  width: 79%;
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .footer__network-partition {
    margin: 0;
  }
}
.footer__network-icon {
  width: 5vw;
  height: 5vw;
}
@media (min-width: 768px) {
  .footer__network-icon {
    min-width: 3.1vw;
    min-height: 3.1vw;
    max-width: 1.9vw;
    max-height: 1.9vw;
  }
}
@media (min-width: 1280px) {
  .footer__network-icon {
    min-width: 1.9vw;
    min-height: 1.9vw;
    max-width: 1.9vw;
    max-height: 1.9vw;
  }
}
.footer__network-icon--margin {
  margin-left: 32px;
}
.footer__trademark {
  display: none;
  min-width: 37.5vw;
  min-height: 7.5vw;
  max-width: 15.6vw;
  max-height: 3.1vw;
}
@media (min-width: 768px) {
  .footer__trademark {
    min-width: 15.6vw;
    min-height: 3.1vw;
    min-width: 15.6vw;
    min-height: 3.1vw;
  }
}
@media (min-width: 1280px) {
  .footer__trademark {
    min-width: 9.4vw;
    min-height: 1.9vw;
    max-width: 9.4vw;
    max-height: 1.9vw;
  }
}
.footer__trademark img {
  min-width: 37.5vw;
  min-height: 7.5vw;
  max-width: 15.6vw;
  max-height: 3.1vw;
}
@media (min-width: 768px) {
  .footer__trademark img {
    min-width: 15.6vw;
    min-height: 3.1vw;
    min-width: 15.6vw;
    min-height: 3.1vw;
  }
}
@media (min-width: 1280px) {
  .footer__trademark img {
    min-width: 9.4vw;
    min-height: 1.9vw;
    max-width: 9.4vw;
    max-height: 1.9vw;
  }
}
@media (min-width: 768px) {
  .footer__trademark {
    display: flex;
    margin-left: auto;
  }
}
.footer__directory {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__directory {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }
}
.footer__partition-card {
  margin: 0 0 1rem 0;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__partition-card {
    width: 32.6vw;
  }
}
.footer__partition-top {
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-family: AvenirNextLTProBold;
  color: #FFFF;
  margin: 0 0 1rem 0;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__partition-top {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .footer__partition-top {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 768px) {
  .footer__partition-top {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirNextLTProDemi;
    color: #323232;
    color: #FFFF;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer__partition-top {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .footer__partition-top {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.footer__partition-bottom {
  margin: 0 0 1rem 0;
  width: 100%;
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #FFFF;
}
@media (min-width: 768px) {
  .footer__partition-bottom {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .footer__partition-bottom {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
.footer__partition-base {
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #FFFF;
}
@media (min-width: 768px) {
  .footer__partition-base {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .footer__partition-base {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
.footer__partition-base-last {
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #FFFF;
  padding: 0 0 3rem 0;
}
@media (min-width: 768px) {
  .footer__partition-base-last {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .footer__partition-base-last {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
}

/*********************************************HEADINGS**h1-h6**************************************/
/*H1 - Header*/
/*********************************************END OF HEADINGS**h1-h6**************************************/
/************************************HERO CONTAINER************************************/
/* Imports

//main import
@use "./partials/_reset.scss" as *;
@use "./partials/_variables.scss" as *;
@use "./partials/_breakpoints.scss" as *;
@use "./partials/_typography.scss" as *;
@use "./partials/_variables.scss" as *;
@use "./partials/_mixins.scss" as *;
//section imports
@use "./partials/_navigation.scss" as *;
@use "./partials/_hero.scss" as *;
@use "./partials/_about.scss" as *;
@use "./partials/_photogallery.scss" as *;
@use "./partials/_form.scss" as *;
@use "./partials/_footer.scss" as *;
 *//*# sourceMappingURL=main.css.map */