/*********************************IMPORTS********************************************/

@import "./partials/_reset.scss";
@import "./partials/_variables.scss";
@import "./partials/_breakpoints.scss";
@import "./partials/_typography.scss";
@import "./partials/_mixins.scss";
//section imports
@import "./partials/_navigation.scss";
@import "./partials/_hero.scss";
@import "./partials/_about.scss";
@import "./partials/_photogallery.scss";
@import "./partials/_form.scss";
@import "./partials/_footer.scss";

/*********************************************HEADINGS**h1-h6**************************************/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
}


/*H1 - Header*/


/*********************************************END OF HEADINGS**h1-h6**************************************/


/************************************HERO CONTAINER************************************/