/*********************************IMPORTS********************************************/

//Imports 
//main import
@import "./partials/_reset.scss";
@import "./partials/_variables.scss";
@import "./partials/_breakpoints.scss";
@import "./partials/_typography.scss";
@import "./partials/_mixins.scss";
//section imports
@import "./partials/_navigation.scss";
@import "./partials/_hero.scss";
@import "./partials/_footer.scss";

/*********************************************END OF HEADINGS**h1-h6***************************************/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
}


/************************************SHOWS SECTION************************************/

.shows {
    @include standard-padding-left-right;
    margin: 1.5rem 0; //vertical 24px horizontal 16px
    //width: 288px;
    @include tablet {
        width: 720px;
    }
    @include desktop {
        justify-content: space-between;
        display: flex;
        width: 1120px;
    }
    &__headline {
        @include h1-main-header-black;
        @include tablet {
            @include h1-main-header-black;
            padding: 1.5rem 0; //vertical 24px
        }
        @include desktop {
            padding: 3rem 3rem 0 0; //top 48px right 128px
        }
    }
    &__card {
        //padding: 0 0 1rem 0; //16px
        @include tablet {
            min-width: 93.9vw; //720px in tablet 
            max-width: 58.2vw; //720px in desktop max-width 
            padding: 0 0 1rem 0; //16px
        }
        @include desktop {
            min-width: 804px; //804px in desktop
            max-width: 62.8vw; //804px in desktop
            padding: 3rem 0; //48px 
        }
    }
    &__divider {
        @include divider;
    }
    &__date-partition {
        width: 49.0%; //160px mobile 
        @include tablet {
            width: 22.0%; //154px 
        }
    }
    &__venue-partition {
        width: 49.0%; //160px
        @include tablet {
            width: 18%; //154px
        }
    }
    &__location-partition {
        width: 90.0%; //259px 
        @include tablet {
            width: 19%; //154px 
        }
    }
    &__instance {
        @include h4-paragraphs-and-comments;
        position: relative;
        padding: 2.5rem 0 0;
        display: flex;
        flex-direction: column;
        @include tablet {
            padding: 5.2vw 0 2.1vw 0; //16px
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @include desktop {
            padding: 3.1vw 0 1.3vw 0; //40px top 16px bottom 
        }
    }
    &__instance-header {
        padding: 0 0 1rem 0; //16px
        @include h5-labels;
        @include tablet {
            display: none;
            &--hidden-header {
                display: block;
                top: 0;
                position: absolute;
            }
        }
    }
    &__instance-figure {
        padding-bottom: 1.5rem;
        @include h4-paragraphs-and-comments;
        &--bold {
            @include h4-paragraphs-and-comments-bold;
        }
        @include tablet {
            padding-bottom: 0;
        }
    }
    &__button {
        @include button;
    }
}


/*Imports 
@use "./partials/_reset.scss" as *;
@use "./partials/_variables.scss" as *;
@use "./partials/_breakpoints.scss" as *;
@use "./partials/_typography.scss" as *;
@use "./partials/_variables.scss" as *;
@use "./partials/_mixins.scss" as *;
//section imports
@use "./partials/_navigation.scss" as *;
@use "./partials/_hero.scss" as *;
@use "./partials/_footer.scss" as *;
*/