    /*********************************IMPORTS********************************************/
    
    @use "./partials/_reset.scss" as *;
    @use "./partials/_mixins.scss" as *;
    @use "./partials/_variables.scss" as *;
    @use "./partials/_typography.scss" as *;
    *,
    *::before,
    *::after {
        font-family: AvenirNextLTProRegular;
        box-sizing: inherit;
        margin: 0px;
    }
    /*********************************************HEADINGS**h1-h6**************************************/
    /*H1 - Header*/
    
    h1 {
        font-size: 24px;
        line-height: 32px;
        font-family: AvenirNextLTProBold;
        @include tablet {
            font-size: 36px;
            line-height: 44px;
            font-family: AvenirNextLTProBold;
        }
    }
    /*H2 - Header*/
    
    h2 {
        font-size: 14px;
        line-height: 22px;
        font-family: AvenirNextLTProDemi;
        @include tablet {
            font-size: 24px;
            line-height: 32px;
            font-family: AvenirNextLTProBold;
        }
    }
    /*H3 - Subheader for Tablet and Desktop*/
    
    h3 {
        font-size: 16px;
        line-height: 24px;
        font-family: AvenirNextLTProDemi;
    }
    /*H4 - Paragraph & comments*/
    
    h4 {
        font-size: 13px;
        line-height: 18px;
        font-family: AvenirNextLTProRegular;
        @include tablet {
            font-size: 14px;
            line-height: 22px;
            font-family: AvenirNextLTProRegular;
        }
    }
    
    p {
        font-size: 13px;
        line-height: 18px;
        font-family: AvenirNextLTProRegular;
        @include tablet {
            font-size: 14px;
            line-height: 20px;
            font-family: AvenirNextLTProRegular;
            display: inline-block;
        }
    }
    /*H5 - LABELS*/
    
    h5 {
        font-size: 12px;
        line-height: 20px;
        font-family: AvenirNextLTProRegular;
        @include tablet {
            font-size: 12px;
            line-height: 20px;
            font-family: AvenirNextLTProBold;
        }
        @include desktop {
            font-size: 12px;
            line-height: 20px;
            font-family: AvenirNextLTProBold;
        }
    }
    /*********************************************END OF HEADINGS**h1-h6**************************************/
    /************************************MAIN NAV************************************/
    
    .main-nav {
        background-color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $silver;
        height: 80px;
        width: 100%;
        @include tablet {
            flex-direction: row;
        }
        &__logo {
            padding: 1rem 0 1rem 0;
            color: $white;
            @include tablet {
                padding: 0 3rem 0 1.5rem;
            }
            @include desktop {
                padding: 0 3.5rem 0 5rem;
            }
        }
        &__list {
            display: flex;
            width: 100%;
            text-align: center;
            list-style-type: none;
            @include tablet {
                width: 13.5rem;
            }
        }
        &__item {
            padding: 0 0 0.5rem 0;
            width: 50%;
            @include tablet {
                width: 5rem;
                padding: 2rem 3rem 0 3.5rem;
            }
            @include desktop {
                width: 5rem;
                padding: 2rem 3.5rem 0 3.5rem;
            }
            &--active {
                border-bottom: 1rem solid $white;
                padding-bottom: 0.5rem;
                width: 50%;
                @include tablet {
                    width: 40%;
                    border-bottom: 0.5rem solid $white;
                    padding: 2rem 0 2rem 0;
                }
            }
        }
        &__link {
            text-decoration: none;
            color: $white;
        }
    }
    /************************************HERO CONTAINER************************************/
    
    .hero-container {
        display: flex;
        position: relative;
        background-image: url("../assets/images/hero-image.jpg");
        background-position: center;
        background-size: cover;
        background-color: rgba(50, 50, 50, 0.50);
         ::before {
            content: "";
            position: absolute;
            top: 0rem;
            right: 0rem;
            bottom: 0rem;
            left: 0rem;
            background-color: rgba(0, 0, 0, 0.25);
            z-index: -1;
        }
        min-height: 183px; //183px {input: 183, rem: "11.4", mobileVW: "57.2", tabletVW: "23.8", desktopVW: "14.3"}
        max-height: 57.2vw; //183px tablets viewwidth  {input: 183, rem: "11.4", mobileVW: "57.2", tabletVW: "23.8", desktopVW: "14.3"}
        @include tablet {
            min-height: 670px; //670px
            max-height: 52.3vw; //670px desktops viewwidth {input: 670, rem: "41.9", mobileVW: "209.4", tabletVW: "87.2", desktopVW: "52.3"}
        }
        @include desktop {
            margin: 0 0 3rem 0; //48px
        }
        &--scale {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__box {
            @include standard-padding-left-right;
            color: $white;
            margin: 4.0rem 0; //64px {input: 64, rem: "4.0", mobileVW: "20.0", tabletVW: "8.3", desktopVW: "5.0"}
            min-width: 224px; //224px  320-(16*2)=288px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
            max-width: 70.0vw; //224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
            z-index: 1;
            @include tablet {
                margin: 6.0rem 0; //96px {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
                min-width: 564px; //564px 768-((24*3+100+~32)=204)=564px 
                max-width: 73.4vw; //564px {input: 564, rem: "35.3", mobileVW: "176.3", tabletVW: "73.4", desktopVW: "44.1"}}
            }
            @include desktop {
                margin: 10.0rem 0; //160px {input: 160, rem: "10.0", mobileVW: "50.0", tabletVW: "20.8", desktopVW: "12.5"}
                min-width: 568px; //552px (24*6+68*6+~16)=568px
                max-width: 43.1vw; //552px {input: 552, rem: "34.5", mobileVW: "172.5", tabletVW: "71.9", desktopVW: "43.1"}
            }
        }
        &__text {
            z-index: 1;
            @include h1-main-header;
            @include tablet {
                @include h1-hero-heading;
            }
        }
    }
    /************************************ABOUT SECTION************************************/
    
    .about-section {
        background-color: $white;
        color: $black;
        display: flex;
        flex-direction: column;
        padding: 0 1rem; //mobile padding 16px 
        @include tablet {
            padding: 0 1.5rem; //horizontal 24px padding change all these to rem
        }
        @include desktop {
            padding: 0 0 0 10.5rem; //horizontal 80px padding
        }
        &__title {
            margin: 2rem 0 1.5rem; //top horizontal bottom margin
            font-family: AvenirNextLTProBold;
            @include desktop {
                margin: 3rem 0; //vertical 48px
            }
        }
        &__img {
            display: flex;
            justify-content: center;
            height: 45vw;
            margin: 0px 0 1.5rem; //top horizontal bottom 0 0 24px
            min-width: 288px;
            @include tablet {
                min-width: 720px; //width size of tablet
                min-height: 362px; //height size of tablet
                max-width: 896px; //width of desktop
                max-height: 450px; //height of tablet
            }
            @include desktop {
                margin: 0 0 0 3rem;
            }
            &--scale {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__quote {
            margin: 0 0 2.5rem 0; //0 top 0 right 40px bottom 0px left
            max-width: 50rem; //800px 896 deskphoto-space
            @include desktop {
                margin: 3.5rem 0 2.5rem 3rem; //48px top 0 px right  40px bottom 48px left because of extra spaced section 
            }
        }
        //we can assume that tablet maintains mobile margin because its not defined
        &__name {
            margin: 0 0 2.5rem 0; //0 top 0 right 40px bottom 0px left
            @include h3-subheader;
            @include tablet {
                margin: 0 0 2.5rem 0; //0 top 0 right 40px bottom 0px left
            }
            @include desktop {
                margin: 0 0 2.5rem 3rem; //48px top 0 px right  40px bottom 48px left because of extra spaced section 
            }
        }
        &__names {
            margin: 0 0 1.5rem; //padding 24px
            @include desktop {
                margin: 0 0 2rem 3rem; //168 left 32 bottom
            }
            @include desktop {
                margin: 0 0 2.5rem 3rem; //48px top 0 px right  40px bottom 48px left because of extra spaced section 
            }
        }
        &__text {
            display: inline-block;
            margin: 1.5rem 0 2.5rem; //top24 bottom40 
            @include tablet {
                flex-direction: row;
                // width: 224px;
            }
            @include desktop {
                margin: 1.5rem 0 2.5rem 3rem;
            }
        }
        &__top {
            margin: 0 1.5rem 0 0; //horizontal 24px'
            @include tablet {
                max-width: 348px; //348px
                margin: 0 1rem 0 0;
            }
            @include desktop {
                max-width: 420px; //420px
                margin: 0 1.5rem 0 0;
            }
        }
        &__bottom {
            @include tablet {
                max-width: 348px; //348px
            }
            @include desktop {
                max-width: 420px; //420px
            }
        }
    }
    /************************************PHOTO GALLERY SECTION************************************/
    
    .photo-gallery-section {
        display: flex;
        flex-wrap: wrap;
        background-color: $alabaster;
        width: 100%;
        margin: 0 0 0 0; // 40px bottom 
        @include standard-padding-left-right;
        &__title {
            font-family: AvenirNextLTProBold;
            margin: 2rem 0 1.5rem; //margin top 32px bottom 24px
        }
        &__photo {
            margin: 0px 50vw 1rem 0px; //mobile photo is vertical so it's 16px ot the bottom  50vw to push the inbetween photos to the next line
            max-width: 288px; //288px 8 rem
            max-height: 162px; //162px
            @include tablet {
                min-width: 224px; //width of single photo of tablet
                min-height: 126px; //126px
                max-width: 29.16vw; //224/768 =
                max-height: 16.4vw; //162/768 =
                margin: 0px 12px 24px 0px; //tablet bottom is 24px not specified for the in between the maximum before pushing photo to next line is 12px 
            }
            @include desktop {
                min-width: 344px; //width of single photo of desktop
                min-height: 193px; //width of single height of photo on dekstop
                max-width: 26.87vw; //344/1280 =
                max-height: 15.08vw; //193/1280=
                margin: 0px 1.5rem 1.5rem 0px; //24px
            }
            &--scale {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    /************************************COMMENTS FEED SECTION************************************/
    
    article {
        @include tablet {
            width: 528px; //528px 33rem 528/768 68.75vw
        }
    }
    
    form {
        background-color: $white;
    }
    
    .article-header {
        padding: 2rem 1rem 2.5rem 1rem; //mobile top is 32px bottom 40px
        @include tablet {
            padding: 3.0rem 2rem 3.5rem 2rem; //top 48px 
        }
        @include desktop {
            padding: 3.0rem 1.5rem 3.5rem 5rem; //top 48px left 80px 
        }
    }
    
    .feed {
        @include standard-padding-left-right;
        &__avi {
            margin: 1.5rem 0 3.0rem 0; //top 24px mobile 48px top
            height: 3rem; // just seems like 48px
            width: 3rem; //just seems like 48px
            border-radius: 30px; //makes the images circle like in the mockup
            float: left;
            position: absolute;
            @include tablet {
                margin: 1.5rem 0px 0px 100px; //top 24px mobile left 124px-24=100px
            }
            @include desktop {
                margin: 1.5rem 0px 0px 196px; //top 24px desktop 264px-(size of avi 48px+20=68px)=196px margin between comment box and avi
            }
        }
        &__boxes {
            padding: 0 0 0 64px; //counted columns for mobile
            display: block;
            float: left;
            min-width: 70.0vw; //224px 20-16-16-24=224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
            max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
            border-bottom: $silver solid 0.063rem; //1px=0.063rem
            @include tablet {
                margin: 0 0 0 6.25rem; //100px like the avi
                min-width: 224px; //224px 20-16-16-24=224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
                max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
            }
            @include desktop {
                margin: 0 0 0 12.25rem; //68px*3+24px*3=264px  leftcounted columns for desktop
            }
            label {
                padding: 0 0 0 0; //mobile padding
                box-sizing: border-box;
                @include h5-heading;
                //font-size: 3.8vw; //12px{input: 12, rem: "0.8", mobileVW: "3.8", tabletVW: "1.6", desktopVW: "0.9"}
                //line-height: 6.3vw; //20px {input: 20, rem: "1.3", mobileVW: "6.3", tabletVW: "2.6", desktopVW: "1.6"}
            }
            label,
            textarea,
            input {
                padding: 0 30vw 0 0; //move to right side page 
            }
            input {
                box-sizing: border-box;
                font-size: 12px;
                color: $silver; //just a guess check later
                margin: 1rem 0 1rem 0; //16px
                min-width: 70.0vw; // 224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
                max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
                min-height: 10.0vw; //height of name box {input: 32, rem: "2.0", mobileVW: "10.0", tabletVW: "4.2", desktopVW: "2.5"}
                max-height: 48px; //height of name box {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
                border-radius: 4px; //round the corners of my name box 
                @include tablet {
                    width: 28.75rem; //24*4+100*3+64 = 460px same size as desktop 28.75rem
                    min-height: 48px; ///height of tablet name box 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
                    max-height: 3.8vw; ///height of tablet desktop vw name box 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
                    min-width: 460px; //24*4+100*3+64 = 460px same size as desktop
                    max-width: 35.9vw; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
                }
                @include desktop {
                    min-width: 460px; //24*4+100*3+64 = 460px same size as desktop
                    max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
                    min-height: 48px; ///height of tablet name box 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
                    min-height: 3.8vw; ///height of tablet desktop vw name box 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
                }
                padding: 3px 0 0 10px; //remove the 20vw padding for place holder and center it in the box check
            }
            textarea {
                box-sizing: border-box;
                border-radius: 0.25rem; //round the corners of my comment box 4px 0.25rem
                min-width: 70.0vw; // 224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
                max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
                min-height: 20.0vw; //64px {input: 64, rem: "4.0", mobileVW: "20.0", tabletVW: "8.3", desktopVW: "5.0"}
                max-height: 96px; //96px tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
                margin: 1rem 0 1rem 0; //for the spaces in between the text boxes 16px 
                resize: none;
                @include tablet {
                    min-width: 460px; //24*4+100*3+64 = 460px same size as desktop
                    max-width: 35.9vw; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
                    min-height: 96px; //96px tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
                    max-height: 7.5vw; //tablet size tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
                }
                @include desktop {
                    min-width: 460px; //24*4+100*3+64 = 460px same size as desktop
                    max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
                    min-height: 96px; //96px tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
                    max-height: 7.5vw; //tablet size tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
                }
                padding: 10px 0 0 10px; //remove the 20vw padding for place holder and center it in the box check
            }
            .buttony {
                margin: 0 0 2rem 0; // 32px bottom of button 32px for all
                width: 12.5rem; //mobile button is 224px width  tablet looks about 48+32+48+32+48+(32/2)=224px but at this width its isn't acting right so 200px
                height: 48px; //32px  // 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
                font-family: AvenirNextLTProBold;
                color: $white;
                background-color: $black;
                border-radius: 4px; //round the corners of my button
                @include tablet {
                    float: right;
                    width: 160px; //160px {input: 160, rem: "10.0", mobileVW: "50.0", tabletVW: "20.8", desktopVW: "12.5"}
                    height: 48px; // 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
                    margin: 1.5rem 0 1.5rem 0; //24px {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
                }
            }
        }
    }
    /*****************************************CARD FEED SECTION***********************************/
    
    .card {
        display: flex;
        flex-flow: row wrap;
        min-width: 87.5vw; //280px //
        // max-width: 87.5vw; //mobile version 320px -16px-16px=288px  {input: 280, rem: "17.5", mobileVW: "87.5", tabletVW: "36.5", desktopVW: "21.9"}
        margin: 0px 1rem 1.5rem 1rem; //top 40px bottom 40px  mobile padding 16px left for mobile 
        @include tablet {
            min-width: 528px; //width is actually 528px {input: 528, rem: "33.0", mobileVW: "165.0", tabletVW: "68.8", desktopVW: "41.3"}
            max-width: 41.3vw; //maxwidth desktop is actually 528px {input: 528, rem: "33.0", mobileVW: "165.0", tabletVW: "68.8", desktopVW: "41.3"}
            margin: 0 124px 1.5rem 124px;
        }
        @include desktop {
            margin: 40px 264px 0 264px; //desktop does not say counted column 64*3+24*3= 264px left 264px right
        }
        &__img {
            margin: 0 1.5rem 0 0; //looks like 16px to the right 
            height: 3rem; // just seems like 48px
            width: 3rem; //just seems like 48px
            // margin-left: auto;
            border-radius: 30px; //makes the images circle like in the mockup
            @include tablet {
                margin: 0 1rem 0 0; //tablet 16px to the right
            }
        }
        &__name {
            min-width: 43.8vw; //140px {input: 140, rem: "8.8", mobileVW: "43.8", tabletVW: "18.2", desktopVW: "10.9"}
            max-width: 18.1vw; // 140px tablet vw{input: 139, rem: "8.7", mobileVW: "43.4", tabletVW: "18.1", desktopVW: "10.9"}
            @include h4-paragraphs-and-comments-bold;
            @include tablet {
                min-width: 40px; //40px {input: 40, rem: "2.5", mobileVW: "12.5", tabletVW: "5.2", desktopVW: "3.1"}
                max-width: 40px; // 140px tablet vw{input: 40, rem: "2.5", mobileVW: "12.5", tabletVW: "5.2", desktopVW: "3.1"}
                line-height: none;
                height: 1rem;
            }
            @include desktop {
                min-width: 40px; // 140px tablet {input: 40, rem: "2.5", mobileVW: "12.5", tabletVW: "5.2", desktopVW: "3.1"}
                max-width: 40px; // 140px tablet vw{input: 40, rem: "2.5", mobileVW: "12.5", tabletVW: "5.2", desktopVW: "3.1"}
                line-height: none;
                height: 1rem;
            }
        }
        &__time {
            height: 1rem; //16px
            width: 1rem; //16px
            @include h4-paragraphs-and-comments;
            //margin: 0 3.1vw 0 0; //mobile 320-204=116px  {input: 116, rem: "7.3", mobileVW: "36.3", tabletVW: "15.1", desktopVW: "9.1"}
        }
        &__comment {
            @include h4-list-contact-information;
            min-width: 240px;
            max-width: 75.0vw; //240px tablet vw  320px-48px-16px-16px=240px {input: 240, rem: "15.0", mobileVW: "75.0", tabletVW: "31.3", desktopVW: "18.8"}
            padding: 0 0 1.5rem 4.0rem; //64px mobile doesnt say the margin left but counting columns: looks like it needs an additional 48px to the left
            @include divider;
            @include tablet {
                width: 476px; //has to be in px
                padding: 0px 0px 1.5rem 4.25rem; //24 top and bottom 68left 4.25rem
            }
        }
    }
    /************************************FOOTER BANNER************************************/
    
    .footer {
        background-color: $black;
        color: $white;
        padding: 0 1rem; //mobile horizontal padding 16px 1rem
        margin-top: 40px;
        @include tablet {
            padding: 0 1.5rem; //horizontal 24px padding 1.5rem
        }
        @include desktop {
            padding: 0 5rem; //horizontal 80px padding 5rem
        }
        &__banner {
            background-color: $black;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        &__title {
            width: 208px;
            display: flex;
            margin: 1.5rem 4rem 1.5rem 0; // 24px top 64px right 24px bottom 0 px left 1.5rem 4 rem 1.5rem 0
            @include tablet {
                width: 230px; //230px
                margin: 1.5rem 3rem 1.5rem 0; //24 48 24 0px
            }
            @include desktop {
                margin: 3rem 3.5rem 3.5rem 0;
            }
        }
        &__icons {
            display: flex;
            margin: 0px 2rem 1.5rem 0; //just change all these to rem 
            @include tablet {
                margin: 2rem 2rem 1.5rem 0;
            }
            @include desktop {
                margin: 3.875rem 2rem 0px 0px; //62px 3.875rem
            }
        }
        &__icon {
            margin: 0 1.5rem 0 0;
            width: 1rem;
            height: 1rem;
            @include tablet {
                margin: 0 2rem 0 0;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        &__logo {
            display: none;
            @include tablet {
                display: contents;
            }
            @include desktop {
                display: contents;
            }
        }
        &__img {
            @include tablet {
                height: 1.5rem;
                width: 120px;
            }
            @include desktop {
                height: 1.5rem;
                width: 120px;
            }
        }
        &__link {
            margin-left: auto;
            @include tablet {
                margin: 24px 0px 0 14vw;
            }
            @include desktop {
                margin: 48px 0 0 38vw;
            }
        }
        /************************************FOOTER CARD************************************/
        .contacts {
            @include h4-list-contact-information;
            &__card {
                display: inline-block;
                justify-content: left;
                @include tablet {
                    flex-direction: row;
                    width: 220px;
                }
                @include desktop {
                    width: 240px;
                }
            }
            &__name {
                font-family: AvenirNextLTProBold;
            }
            &__company {
                margin: 0 0 1rem 0;
                font-family: AvenirNextLTProBold;
                @include tablet {
                    padding-bottom: 1.5rem;
                }
            }
            &__address {
                width: 180px;
                margin: 0 0 1rem 0;
                font-family: AvenirNextLTProRegular;
            }
            &__email {
                margin: 0 0 1rem 0;
                width: 50vw;
                font-family: AvenirNextLTProRegular;
            }
        }
        &__base {
            padding: 1.5rem 0 2rem 0;
            display: flex;
            font-family: AvenirNextLTProRegular;
            max-width: 65vw;
            @include tablet {
                max-width: 30vw;
                padding: 1.5rem 0 1.5rem 0;
            }
            @include desktop {
                max-width: 18vw;
                padding: 2.5rem 0 2.5rem 0;
            }
        }
    }