html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
em,
img,
ol,
ul,
li,
article,
footer,
header,
menu,
nav,
section,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: lighter;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
menu,
nav,
body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "AvenirNextLTProRegular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTProDemi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTProBold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
/*********************************IMPORTS****************************************************************/
/********************************* FOR TABLETS**********************************************************/
/********************************* FOR DESKTOP*************************************/
/***************************************PADDING**************************************************/
/************************************FONTS******************************************/
/*H2 - Header subheader for mobile*/
/*H3 - Subheader for Tablet and Desktop*/
/*H4 - Paragraph & comments*/
/*H5 - LABELS*/
/**********************************************DIVIDERS******************************************************/
/*********************************IMPORTS********************************************/
*,
*::before,
*::after {
  font-family: AvenirNextLTProRegular;
  box-sizing: inherit;
  margin: 0px;
}

/*********************************************HEADINGS**h1-h6**************************************/
/*H4 - Paragraph & comments*/
h4 {
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirNextLTProRegular;
}
@media (min-width: 768px) {
  h4 {
    font-size: 14px;
    line-height: 22px;
    font-family: AvenirNextLTProRegular;
  }
}

/*********************************************END OF HEADINGS**h1-h6**************************************/
/************************************MAIN NAV************************************/
.main-nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #AFAFAF;
  height: 80px;
  width: 100%;
}
@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
  }
}
.main-nav__logo {
  padding: 1rem 0 1rem 0;
  color: #FFFF;
}
@media (min-width: 768px) {
  .main-nav__logo {
    padding: 0 3rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .main-nav__logo {
    padding: 0 3.5rem 0 5rem;
  }
}
.main-nav__list {
  display: flex;
  width: 100%;
  text-align: center;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    width: 13.5rem;
  }
}
.main-nav__item {
  padding: 0 0 0.5rem 0;
  width: 50%;
}
@media (min-width: 768px) {
  .main-nav__item {
    width: 5rem;
    padding: 2rem 3rem 0 3.5rem;
  }
}
@media (min-width: 1280px) {
  .main-nav__item {
    width: 5rem;
    padding: 2rem 3.5rem 0 3.5rem;
  }
}
.main-nav__item--active {
  border-bottom: 0.3rem solid #FFFF;
  padding-bottom: 0.5rem;
  width: 50%;
}
@media (min-width: 768px) {
  .main-nav__item--active {
    width: 40%;
    border-bottom: 0.5rem solid #FFFF;
    padding: 2rem 0 2rem 0;
  }
}
.main-nav__link {
  text-decoration: none;
  color: #FFFF;
}

/************************************HERO CONTAINER****************************/
.hero-container {
  display: flex;
  position: relative;
  background-image: url("../assets/images/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  min-height: 147.5vw;
  max-height: 87.2vw;
}
.hero-container ::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
@media (min-width: 768px) {
  .hero-container {
    min-height: 670px;
    max-height: 52.3vw;
  }
}
@media (min-width: 1280px) {
  .hero-container {
    margin: 0 0 3rem 0;
  }
}
.hero-container--scale {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-container__box {
  padding: 0 1rem 0 1rem;
  color: #FFFF;
  margin: 4rem 0;
  min-width: 288px;
  max-width: 90vw;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero-container__box {
    padding: 0 1.5rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero-container__box {
    padding: 0 5rem 0 5rem;
  }
}
@media (min-width: 768px) {
  .hero-container__box {
    margin: 6rem 0;
    min-width: 564px;
    max-width: 73.4vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__box {
    margin: 10rem 0;
    min-width: 568px;
    max-width: 43.1vw;
  }
}
.hero-container__title {
  font-size: 4.4vw;
  line-height: 6.9vw;
  font-family: AvenirNextLTProDemi;
  color: #323232;
  color: #FFFF;
  margin: 0 0 0rem 0;
}
@media (min-width: 768px) {
  .hero-container__title {
    font-size: 3.1vw;
    line-height: 4.2vw;
    font-family: AvenirNextLTProBold;
  }
}
@media (min-width: 1280px) {
  .hero-container__title {
    font-size: 1.9vw;
    line-height: 2.5vw;
  }
}
@media (min-width: 768px) {
  .hero-container__title {
    margin: 0 0 0rem 0;
  }
}
.hero-container__text {
  z-index: 1;
  font-family: AvenirNextLTProBold;
  font-size: 11vw;
  line-height: 13.8vw;
}
@media (min-width: 768px) {
  .hero-container__text {
    font-size: 4.7vw;
    line-height: 5.7vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__text {
    font-size: 2.8vw;
    line-height: 3.4vw;
  }
}
@media (min-width: 768px) {
  .hero-container__text {
    font-family: AvenirNextLTProBold;
    font-size: 18.8vw;
    line-height: 21.3vw;
    color: #FFFF;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .hero-container__text {
    font-size: 7.8vw;
    line-height: 8.9vw;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .hero-container__text {
    font-size: 4.7vw;
    line-height: 5.3vw;
  }
}
.hero-container__soundcloud {
  padding: 0 1rem 0 1rem;
  position: absolute;
  z-index: 1;
  align-self: flex-end;
  margin: 0 0 20vw 0;
  min-width: 288px;
  min-height: 96px;
  max-width: 90vw;
  max-height: 30vw;
}
@media (min-width: 768px) {
  .hero-container__soundcloud {
    padding: 0 1.5rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero-container__soundcloud {
    padding: 0 5rem 0 5rem;
  }
}
@media (min-width: 768px) {
  .hero-container__soundcloud {
    margin: 0 0 6.3vw 0;
    min-width: 436px;
    min-height: 146px;
    max-width: 56.8vw;
    max-height: 19vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__soundcloud {
    padding: 0;
    margin: 0 0 14.7rem 0;
    position: relative;
    min-width: 436px;
    min-height: 146px;
    max-width: 34.1vw;
    max-height: 11.4vw;
  }
}

/************************************SHOWS SECTION************************************/
.shows {
  background-color: #FFFF;
  color: #323232;
  padding: 0 1rem 0 1rem;
}
@media (min-width: 768px) {
  .shows {
    padding: 0 1.5rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    padding: 0 5rem 0 5rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex-wrap;
  }
}
.shows__heading {
  font-size: 7.5vw;
  line-height: 10vw;
  font-family: AvenirNextLTProBold;
  color: #FFFF;
  padding: 2rem 0 2.5rem 0;
  color: #323232;
}
@media (min-width: 768px) {
  .shows__heading {
    font-size: 4.7vw;
    line-height: 5.7vw;
  }
}
@media (min-width: 1280px) {
  .shows__heading {
    font-size: 2.8vw;
    line-height: 3.4vw;
  }
}
@media (min-width: 768px) {
  .shows__heading {
    padding: 1.5rem 0 0;
  }
}
@media (min-width: 1280px) {
  .shows__heading {
    float: left;
    min-width: 276px;
    max-width: 21.6vw;
    padding: 0 0 0 0;
  }
}
.shows__bar {
  display: none;
}
@media (min-width: 768px) {
  .shows__bar {
    color: #323232;
    display: flex;
    margin: 1.5rem 11rem 1.5rem 0;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .shows__bar {
    margin: 0 0 0 0;
  }
}
.shows__dateo {
  font-size: 3.8vw;
  line-height: 6.3vw;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  margin: 0 0 1rem 0;
  min-width: 224px;
  max-width: 29.2vw;
}
@media (min-width: 768px) {
  .shows__dateo {
    font-size: 1.6vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .shows__dateo {
    font-size: 0.9vw;
    line-height: 1.6vw;
  }
}
@media (min-width: 1280px) {
  .shows__dateo {
    min-width: 264px;
    max-width: 20.6vw;
  }
}
.shows__venueo {
  font-size: 3.8vw;
  line-height: 6.3vw;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  min-width: 148px;
  max-width: 11.6vw;
}
@media (min-width: 768px) {
  .shows__venueo {
    font-size: 1.6vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .shows__venueo {
    font-size: 0.9vw;
    line-height: 1.6vw;
  }
}
@media (min-width: 1280px) {
  .shows__venueo {
    min-width: 208px;
    max-width: 16.3vw;
  }
}
.shows__locationo {
  font-size: 3.8vw;
  line-height: 6.3vw;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  min-width: 148px;
  max-width: 19.3vw;
}
@media (min-width: 768px) {
  .shows__locationo {
    font-size: 1.6vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .shows__locationo {
    font-size: 0.9vw;
    line-height: 1.6vw;
  }
}
@media (min-width: 1280px) {
  .shows__locationo {
    min-width: 184px;
    max-width: 14.4vw;
  }
}

.card {
  color: #323232;
  font-size: 4.1vw;
  line-height: 5.6vw;
  font-family: AvenirNextLTProRegular;
  border-bottom: 1px solid #E1E1E1;
  min-width: 288px;
  max-width: 90vw;
  display: flex;
  flex-flow: row wrap;
  padding: 0 1.5rem 0 0;
}
@media (min-width: 768px) {
  .card {
    font-size: 1.8vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProRegular;
  }
}
@media (min-width: 1280px) {
  .card {
    font-size: 1.1vw;
    line-height: 1.6vw;
    font-family: AvenirNextLTProRegular;
  }
}
@media (min-width: 768px) {
  .card {
    min-width: 720px;
    max-width: 93.8vw;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 804px;
    max-width: 62.8vw;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .card {
    flex-direction: row;
    min-width: 720px;
    max-width: 62.8vw;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 804px;
    max-width: 62.8vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}
.card__datie {
  font-size: 3.8vw;
  line-height: 6.3vw;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  margin: 0.5rem 50vw 0rem 0;
}
@media (min-width: 768px) {
  .card__datie {
    font-size: 1.6vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .card__datie {
    font-size: 0.9vw;
    line-height: 1.6vw;
  }
}
@media (min-width: 768px) {
  .card__datie {
    display: none;
  }
}
.card__date {
  display: block;
  margin: 1rem 40vw 24px 0;
  width: 184px;
  font-family: AvenirNextLTProBold;
  color: #323232;
  font-size: 4.1vw;
  line-height: 5.6vw;
}
@media (min-width: 768px) {
  .card__date {
    font-size: 1.8229166vw;
    line-height: 2.6vw;
  }
}
@media (min-width: 1280px) {
  .card__date {
    font-size: 1.1vw;
    line-height: 1.6vw;
  }
}
@media (min-width: 768px) {
  .card__date {
    width: 224px;
    margin: 1rem 0 0 0;
    display: inline-block;
  }
}
@media (min-width: 1280px) {
  .card__date {
    width: 264px;
    margin: 1rem 0px 0 0;
    display: inline-block;
  }
}
.card__venuie {
  font-size: 3.8vw;
  line-height: 6.3vw;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  margin: 0 50vw 0rem 0;
}
@media (min-width: 768px) {
  .card__venuie {
    font-size: 1.6vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .card__venuie {
    font-size: 0.9vw;
    line-height: 1.6vw;
  }
}
@media (min-width: 768px) {
  .card__venuie {
    display: none;
  }
}
.card__venue {
  color: #323232;
  font-size: 4.1vw;
  line-height: 5.6vw;
  font-family: AvenirNextLTProRegular;
  margin: 1rem 50vw 1.5rem 0;
  display: block;
}
@media (min-width: 768px) {
  .card__venue {
    font-size: 1.8vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProRegular;
  }
}
@media (min-width: 1280px) {
  .card__venue {
    font-size: 1.1vw;
    line-height: 1.6vw;
    font-family: AvenirNextLTProRegular;
  }
}
@media (min-width: 768px) {
  .card__venue {
    margin: 1rem 0 0 0;
    display: inline-block;
    min-width: 148px;
    max-width: 11.6vw;
  }
}
@media (min-width: 1280px) {
  .card__venue {
    min-width: 208px;
    max-width: 16.3vw;
  }
}
.card__locationie {
  font-size: 3.8vw;
  line-height: 6.3vw;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  margin: 0 50vw 0rem 0;
}
@media (min-width: 768px) {
  .card__locationie {
    font-size: 1.6vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .card__locationie {
    font-size: 0.9vw;
    line-height: 1.6vw;
  }
}
@media (min-width: 768px) {
  .card__locationie {
    display: none;
  }
}
.card__location {
  color: #323232;
  font-size: 4.1vw;
  line-height: 5.6vw;
  font-family: AvenirNextLTProRegular;
  margin: 1rem 50vw 2rem 0;
  display: block;
}
@media (min-width: 768px) {
  .card__location {
    font-size: 1.8vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProRegular;
  }
}
@media (min-width: 1280px) {
  .card__location {
    font-size: 1.1vw;
    line-height: 1.6vw;
    font-family: AvenirNextLTProRegular;
  }
}
@media (min-width: 768px) {
  .card__location {
    min-width: 180px;
    max-width: 23.4vw;
    margin: 1rem 0 0 0;
    display: inline-block;
  }
}
@media (min-width: 1280px) {
  .card__location {
    min-width: 180px;
    max-width: 180px;
  }
}
.card__button {
  background-color: #323232;
  font-family: AvenirNextLTProRegular;
  color: #FFFF;
  min-width: 288px;
  max-width: 90vw;
  min-height: 32px;
  max-height: 10vw;
  border-radius: 4px;
  margin: 1rem 0 1rem 0px;
}
@media (min-width: 768px) {
  .card__button {
    margin-right: auto;
    min-width: unset;
    max-width: unset;
    align-items: flex-end;
    padding: 0;
    width: 160px;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .card__button {
    padding: 0;
    margin: 1rem 0 1rem 0;
  }
}

/************************************FOOTER BANNER************************************/
.footer {
  background-color: #323232;
  color: #FFFF;
  padding: 0 1rem;
  margin-top: 40px;
  /************************************FOOTER CARD************************************/
}
@media (min-width: 768px) {
  .footer {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 5rem;
  }
}
.footer__banner {
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer__title {
  width: 208px;
  display: flex;
  font-family: AvenirNextLTProBold;
  margin: 1.5rem 4rem 1.5rem 0;
}
@media (min-width: 768px) {
  .footer__title {
    width: 230px;
    margin: 1.5rem 3rem 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    margin: 3rem 3.5rem 3.5rem 0;
  }
}
.footer__icons {
  display: flex;
  margin: 0px 2rem 1.5rem 0;
}
@media (min-width: 768px) {
  .footer__icons {
    margin: 2rem 2rem 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__icons {
    margin: 3.875rem 2rem 0px 0px;
  }
}
.footer__icon {
  margin: 0 1.5rem 0 0;
  width: 1rem;
  height: 1rem;
}
@media (min-width: 768px) {
  .footer__icon {
    margin: 0 2rem 0 0;
    width: 1.5rem;
    height: 1.5rem;
  }
}
.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: contents;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    display: contents;
  }
}
@media (min-width: 768px) {
  .footer__img {
    height: 1.5rem;
    width: 120px;
  }
}
@media (min-width: 1280px) {
  .footer__img {
    height: 1.5rem;
    width: 120px;
  }
}
.footer__link {
  margin-left: auto;
}
@media (min-width: 768px) {
  .footer__link {
    margin: 24px 0px 0 14vw;
  }
}
@media (min-width: 1280px) {
  .footer__link {
    margin: 48px 0 0 38vw;
  }
}
.footer .contacts {
  color: #FFFF;
  color: #323232;
  font-size: 4.1vw;
  line-height: 5.6vw;
  font-family: AvenirNextLTProRegular;
}
@media (min-width: 768px) {
  .footer .contacts {
    font-size: 1.8vw;
    line-height: 2.6vw;
    font-family: AvenirNextLTProRegular;
  }
}
@media (min-width: 1280px) {
  .footer .contacts {
    font-size: 1.1vw;
    line-height: 1.6vw;
    font-family: AvenirNextLTProRegular;
  }
}
.footer .contacts__card {
  display: inline-block;
  justify-content: left;
}
@media (min-width: 768px) {
  .footer .contacts__card {
    flex-direction: row;
    width: 220px;
  }
}
@media (min-width: 1280px) {
  .footer .contacts__card {
    width: 240px;
  }
}
.footer .contacts__name {
  font-family: AvenirNextLTProBold;
  color: #FFFF;
}
.footer .contacts__company {
  margin: 0 0 1rem 0;
  font-family: AvenirNextLTProBold;
  color: #FFFF;
}
@media (min-width: 768px) {
  .footer .contacts__company {
    padding-bottom: 1.5rem;
  }
}
.footer .contacts__address {
  width: 180px;
  margin: 0 0 1rem 0;
  font-family: AvenirNextLTProRegular;
  color: #FFFF;
}
.footer .contacts__email {
  margin: 0 0 1rem 0;
  width: 50vw;
  font-family: AvenirNextLTProRegular;
}
.footer__base {
  padding: 1.5rem 0 2rem 0;
  display: flex;
  font-family: AvenirNextLTProRegular;
  color: #FFFF;
  max-width: 65vw;
}
@media (min-width: 768px) {
  .footer__base {
    max-width: 30vw;
    padding: 1.5rem 0 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__base {
    max-width: 18vw;
    padding: 2.5rem 0 2.5rem 0;
  }
}/*# sourceMappingURL=shows.css.map */