html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
em,
img,
ol,
ul,
li,
article,
footer,
header,
menu,
nav,
section,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: lighter;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
menu,
nav,
body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "AvenirNextLTProRegular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTProDemi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTProBold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
/*********************************IMPORTS********************************************/
/************************************FONTS******************************************/
/*H2 - Header*/
/**subheader for mobile**/
/*H3 - Subheader for Tablet and Desktop*/
/*H4 - Paragraph & comments*/
/*H5 - LABELS*/
/***************************************PADDING**************************/
/***********************************H*****************************************/
/********************************* FOR TABLETS*************************************/
/********************************* DESKTOP*************************************/
/*********************************IMPORTS********************************************/
*,
*::before,
*::after {
  font-family: AvenirNextLTProRegular;
  box-sizing: inherit;
  margin: 0px;
}

/*********************************************HEADINGS**h1-h6**************************************/
/*H3 - Subheader for Tablet and Desktop*/
h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: AvenirNextLTProDemi;
}

/*H4 - Paragraph & comments*/
h4 {
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirNextLTProRegular;
}
@media (min-width: 768px) {
  h4 {
    font-size: 14px;
    line-height: 22px;
    font-family: AvenirNextLTProRegular;
  }
}

p {
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirNextLTProRegular;
}
@media (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 20px;
    font-family: AvenirNextLTProRegular;
    display: inline-block;
  }
}

/*H5 - LABELS*/
h5 {
  font-size: 12px;
  line-height: 20px;
  font-family: AvenirNextLTProRegular;
}
@media (min-width: 768px) {
  h5 {
    font-size: 12px;
    line-height: 20px;
    font-family: AvenirNextLTProBold;
  }
}
@media (min-width: 1280px) {
  h5 {
    font-size: 12px;
    line-height: 20px;
    font-family: AvenirNextLTProBold;
  }
}

/*********************************************END OF HEADINGS**h1-h6**************************************/
/************************************MAIN NAV************************************/
.main-nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #AFAFAF;
  height: 80px;
  width: 100%;
}
@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
  }
}
.main-nav__logo {
  padding: 1rem 0 1rem 0;
  color: #FFFF;
}
@media (min-width: 768px) {
  .main-nav__logo {
    padding: 0 3rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .main-nav__logo {
    padding: 0 3.5rem 0 5rem;
  }
}
.main-nav__list {
  display: flex;
  width: 100%;
  text-align: center;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    width: 13.5rem;
  }
}
.main-nav__item {
  padding: 0 0 0.5rem 0;
  width: 50%;
}
@media (min-width: 768px) {
  .main-nav__item {
    width: 5rem;
    padding: 2rem 3rem 0 3.5rem;
  }
}
@media (min-width: 1280px) {
  .main-nav__item {
    width: 5rem;
    padding: 2rem 3.5rem 0 3.5rem;
  }
}
.main-nav__item--active {
  border-bottom: 0.3rem solid #FFFF;
  padding-bottom: 0.5rem;
  width: 50%;
}
@media (min-width: 768px) {
  .main-nav__item--active {
    width: 40%;
    border-bottom: 0.5rem solid #FFFF;
    padding: 2rem 0 2rem 0;
  }
}
.main-nav__link {
  text-decoration: none;
  color: #FFFF;
}

/************************************HERO CONTAINER****************************/
.hero-container {
  display: flex;
  position: relative;
  background-image: url("../assets/images/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  min-height: 147.5vw;
  max-height: 672px;
}
.hero-container ::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
@media (min-width: 768px) {
  .hero-container {
    min-height: 670px;
    max-height: 52.08vw;
  }
}
@media (min-width: 1280px) {
  .hero-container {
    min-height: 670px;
    max-height: 52.34vw;
  }
}
.hero-container--scale {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-container__box {
  padding: 0 1rem 0 1rem;
  color: #FFFF;
  margin: 4rem 0;
  min-width: 288px;
  max-width: 90vw;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero-container__box {
    padding: 0 1.5rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero-container__box {
    padding: 0 5rem 0 5;
  }
}
@media (min-width: 768px) {
  .hero-container__box {
    margin: 6rem 0;
    min-width: 564px;
    max-width: 73.4vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__box {
    margin: 10rem 0;
    min-width: 568px;
    max-width: 43.1vw;
  }
}
.hero-container__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirNextLTProDemi;
  color: #323232;
  color: #FFFF;
}
@media (min-width: 768px) {
  .hero-container__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirNextLTProBold;
  }
}
.hero-container__text {
  z-index: 1;
  font-size: 36px;
  line-height: 44px;
  font-family: AvenirNextLTProBold;
}
@media (min-width: 768px) {
  .hero-container__text {
    font-family: AvenirNextLTProBold;
    font-size: 3.75rem;
    line-height: 4.25rem;
    color: #FFFF;
  }
}
.hero-container__soundcloud {
  padding: 0 1rem 0 1rem;
  position: absolute;
  z-index: 1;
  align-self: flex-end;
  margin: 0 0 4rem 0;
  min-width: 288px;
  min-height: 96px;
  max-width: 90vw;
  max-height: 30vw;
}
@media (min-width: 768px) {
  .hero-container__soundcloud {
    padding: 0 1.5rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero-container__soundcloud {
    padding: 0 5rem 0 5;
  }
}
@media (min-width: 768px) {
  .hero-container__soundcloud {
    margin: 0 0 6rem 0;
    min-width: 436px;
    min-height: 146px;
    max-width: 56.8vw;
    max-height: 19vw;
  }
}
@media (min-width: 1280px) {
  .hero-container__soundcloud {
    min-width: 436px;
    min-height: 146px;
    max-width: 34.1vw;
    max-height: 146px;
  }
}

/************************************SHOWS SECTION************************************/
.shows {
  background-color: #FFFF;
  color: #323232;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .shows {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    padding: 0 5rem;
  }
}
.shows__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirNextLTProBold;
  color: #FFFF;
  color: #323232;
}
@media (min-width: 768px) {
  .shows__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirNextLTProBold;
  }
}
@media (min-width: 768px) {
  .shows__heading {
    padding: 1.5rem 0 0 0;
  }
}
@media (min-width: 1280px) {
  .shows__heading {
    float: left;
    padding: 0 0 0 0;
  }
}
.shows__bar {
  display: none;
}
@media (min-width: 768px) {
  .shows__bar {
    color: #323232;
    display: flex;
    margin: 24px 176px 24px 0;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .shows__bar {
    margin: 48px 0 40px 264px;
  }
}
.shows__dateo {
  width: 234px;
}
.shows__venueo {
  width: 130px;
}
.shows__locationo {
  width: 130px;
}

.card {
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirNextLTProRegular;
  border-bottom: 1px solid #AFAFAF;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 24px 0 0;
}
@media (min-width: 768px) {
  .card {
    font-size: 14px;
    line-height: 20px;
    font-family: AvenirNextLTProRegular;
  }
}
@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .card {
    width: 804px;
    padding: 0 0 0 264px;
  }
}
.card__datie {
  font-family: AvenirNextLTProRegular;
  margin: 16px 50vw 16px 0;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .card__datie {
    display: none;
  }
}
.card__date {
  display: block;
  margin: 0px 50vw 24px 0;
  font-family: AvenirNextLTProBold;
}
@media (min-width: 768px) {
  .card__date {
    width: 184px;
    margin: 0 50px 0 0;
    display: inline-block;
  }
}
.card__venuie {
  font-family: AvenirNextLTProRegular;
  margin: 0 50vw 1rem 0;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .card__venuie {
    display: none;
  }
}
.card__venue {
  margin: 0 50vw 1.5rem 0;
  display: block;
}
@media (min-width: 768px) {
  .card__venue {
    width: 80px;
    margin: 0 50px 0 0;
    display: inline-block;
  }
}
.card__locationie {
  font-family: AvenirNextLTProRegular;
  margin: 0 50vw 1rem 0;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .card__locationie {
    display: none;
  }
}
.card__location {
  font-family: AvenirNextLTProRegular;
  margin: 0 50vw 24px 0;
  display: block;
}
@media (min-width: 768px) {
  .card__location {
    margin: 0 10vw 0 0;
    display: inline-block;
  }
}
.card__datie .card__venuie .card__locationie :after {
  content: "";
}
.card__button {
  background-color: #323232;
  font-family: AvenirNextLTProRegular;
  color: #FFFF;
  width: 260px;
  height: 32px;
  border-radius: 8px;
  margin: 0 0 1rem 0px;
}
@media (min-width: 768px) {
  .card__button {
    margin-right: auto;
    align-items: flex-end;
    width: 160px;
    height: 4rem;
  }
}

/************************************FOOTER BANNER************************************/
.footer {
  background-color: #323232;
  color: #FFFF;
  padding: 0 1rem;
  /************************************FOOTER CARD************************************/
}
@media (min-width: 768px) {
  .footer {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 5rem;
  }
}
.footer__banner {
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer__title {
  width: 208px;
  display: flex;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirNextLTProBold;
  color: #FFFF;
  margin: 1.5rem 4rem 1.5rem 0;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirNextLTProBold;
  }
}
@media (min-width: 768px) {
  .footer__title {
    width: 230px;
    margin: 1.5rem 3rem 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    margin: 3rem 3.5rem 3.5rem 0;
  }
}
.footer__icons {
  display: flex;
  margin: 0px 2rem 24px 0;
}
@media (min-width: 768px) {
  .footer__icons {
    margin: 2rem 2rem 24px 0;
  }
}
@media (min-width: 1280px) {
  .footer__icons {
    margin: 62px 2rem 0px 0px;
  }
}
.footer__icon {
  margin: 0 1.5rem 0 0;
  width: 1rem;
  height: 1rem;
}
@media (min-width: 768px) {
  .footer__icon {
    margin: 0 2rem 0 0;
    width: 24px;
    height: 24px;
  }
}
.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: contents;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    display: contents;
  }
}
@media (min-width: 768px) {
  .footer__img {
    height: 24px;
    width: 120px;
  }
}
@media (min-width: 1280px) {
  .footer__img {
    height: 24px;
    width: 120px;
  }
}
.footer__link {
  margin-left: auto;
}
@media (min-width: 768px) {
  .footer__link {
    margin: 24px 0px 0 8vw;
  }
}
@media (min-width: 1280px) {
  .footer__link {
    margin: 48px 0 0 38vw;
  }
}
.footer .contacts {
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirNextLTProRegular;
}
@media (min-width: 768px) {
  .footer .contacts {
    font-size: 14px;
    line-height: 20px;
    font-family: AvenirNextLTProRegular;
  }
}
.footer .contacts__card {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer .contacts__card {
    flex-direction: row;
    width: 220px;
  }
}
@media (min-width: 1280px) {
  .footer .contacts__card {
    width: 240px;
  }
}
.footer .contacts__name {
  font-family: AvenirNextLTProBold;
}
.footer .contacts__company {
  margin: 0 0 1rem 0;
  font-family: AvenirNextLTProBold;
}
@media (min-width: 768px) {
  .footer .contacts__company {
    padding-bottom: 1.5rem;
  }
}
.footer .contacts__address {
  width: 180px;
  margin: 0 0 1rem 0;
  font-family: AvenirNextLTProRegular;
}
.footer .contacts__email {
  margin: 0 0 1rem 0;
  width: 50vw;
  font-family: AvenirNextLTProRegular;
}
.footer__base {
  padding: 1.5rem 0 2rem 0;
  display: flex;
  font-family: AvenirNextLTProRegular;
  max-width: 65vw;
}
@media (min-width: 768px) {
  .footer__base {
    max-width: 30vw;
    padding: 1.5rem 0 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__base {
    max-width: 18vw;
    padding: 2.5rem 0 2.5rem 0;
  }
}/*# sourceMappingURL=shows.css.map */