    /************************************ABOUT SECTION************************************/
    
    .about-section {
        background-color: $white;
        color: $black;
        display: flex;
        flex-direction: column;
        padding: 0 1rem; //mobile padding 16px 
        @include tablet {
            padding: 0 1.5rem; //horizontal 24px padding change all these to rem
        }
        &__title {
            margin: 3rem 0; //vertical 48px
            @include h1-main-header-black;
            @include tablet {
                @include h1-main-header-tablet-desktop;
            }
            @include desktop {
                padding: 0 0 0 5rem; //horizontal 80px padding {input: 80, rem: "5.0", mobileVW: "25.0", tabletVW: "10.4", desktopVW: "6.3"}
            }
        }
        //Change all of desktop padding in about section excluding title to 80px+24px+68px=172px
        &__content {
            @include desktop {
                padding: 0 0 0 10.8rem; //padding 172px {input: 172, rem: "10.8", mobileVW: "53.8", tabletVW: "22.4", desktopVW: "13.4"}
            }
        }
        &__img {
            display: flex;
            justify-content: center;
            margin: 0px 0 1.5rem; //top horizontal bottom 0 0 24px
            min-width: 90.0vw; //288px mobile make vw to be responsive at smaller size {input: 288, rem: "18.0", mobileVW: "90.0", tabletVW: "37.5", desktopVW: "22.5"}
            min-height: 45.0vw; //144px appx. {input: 144, rem: "9.0", mobileVW: "45.0", tabletVW: "18.8", desktopVW: "11.3"}
            max-width: 90.0vw; //288px mobile {input: 288, rem: "18.0", mobileVW: "90.0", tabletVW: "37.5", desktopVW: "22.5"}
            max-height: 45.0vw; //144px appx. {input: 144, rem: "9.0", mobileVW: "45.0", tabletVW: "18.8", desktopVW: "11.3"}
            @include tablet {
                margin: 0 0 0 0;
                min-width: 720px; //width size of tablet {input: 720, rem: "45.0", mobileVW: "225.0", tabletVW: "93.8", desktopVW: "56.3"}
                min-height: 362px; //height size of tablet {input: 362, rem: "22.6", mobileVW: "113.1", tabletVW: "47.1", desktopVW: "28.3"}
                max-width: 116.7vw; //width of tablet {input: 896, rem: "56.0", mobileVW: "280.0", tabletVW: "116.7", desktopVW: "70.0"}
                max-height: 58.6vw; //height of tablet {input: 450, rem: "28.1", mobileVW: "140.6", tabletVW: "58.6", desktopVW: "35.2"}
            }
            @include desktop {
                margin: 0 0 0 0;
                min-width: 896px; //width of desktop {input: 896, rem: "56.0", mobileVW: "280.0", tabletVW: "116.7", desktopVW: "70.0"}
                min-height: 450px; //height of tablet {input: 450, rem: "28.1", mobileVW: "140.6", tabletVW: "58.6", desktopVW: "35.2"}
                max-width: 70.0vw; //width of desktop {input: 896, rem: "56.0", mobileVW: "280.0", tabletVW: "116.7", desktopVW: "70.0"}
                max-height: 35.2vw; //height of tablet {input: 450, rem: "28.1", mobileVW: "140.6", tabletVW: "58.6", desktopVW: "35.2"}
            }
            &--scale {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__quote {
            @include h2-header;
            margin: 0 0 2rem 0; //0 top 0 right 32px bottom mobile 0px left
            min-width: 90.0vw; //288px mobile make vw to be responsive at smaller size {input: 288, rem: "18.0", mobileVW: "90.0", tabletVW: "37.5", desktopVW: "22.5"}
            max-width: 90.0vw; //288px mobile {input: 288, rem: "18.0", mobileVW: "90.0", tabletVW: "37.5", desktopVW: "22.5"}
            @include tablet {
                margin: 3rem 0 2.5rem 0rem; //48px top 0 px right  40px bottom 
                min-width: 720px; //width size of tablet {input: 720, rem: "45.0", mobileVW: "225.0", tabletVW: "93.8", desktopVW: "56.3"}
                max-width: 116.7vw; //width of tablet {input: 896, rem: "56.0", mobileVW: "280.0", tabletVW: "116.7", desktopVW: "70.0"}
            }
            @include desktop {
                margin: 3rem 0 2.5rem 0; //48px top 0 px right  40px bottom 48px left because of extra spaced section 
                //desktop quote length column count 68+24+24=116px 896-116px=780 desktop
                min-width: 780px; //width of desktop {input: 780, rem: "48.8", mobileVW: "243.8", tabletVW: "101.6", desktopVW: "60.9"}
                max-width: 60.9vw; //width of desktop {input: 780, rem: "48.8", mobileVW: "243.8", tabletVW: "101.6", desktopVW: "60.9"}
            }
        }
        //we can assume that tablet maintains mobile margin because its not defined
        &__name {
            @include h4-paragraphs-and-comments;
            margin: 0 0 2.5rem 0; //0 top 0 right 40px bottom 0px left
            @include h3-subheader;
            @include tablet {
                margin: 0 0 2.5rem 0; //0 top 0 right 40px bottom 0px left
            }
            @include desktop {
                margin: 0 0 2.5rem 0; //48px top 0 px right  40px bottom 
            }
        }
        &__names {
            @include h2-header;
            margin: 0 0 1.5rem 0; //padding 24px 24px bottom
            @include tablet {
                margin: 0 0 2.5rem 0; //168 left 32 bottom
            }
            @include desktop {
                margin: 0 0 2.5rem 0; //48px top 0 px right  40px bottom
            }
        }
        &__text {
            @include p-paragraph;
            display: inline-block;
            margin: 0 0 2.5rem; //top24 bottom40 
            @include tablet {
                display: flex;
            }
            @include desktop {
                margin: 0 0 2.5rem 0;
            }
        }
        &__top {
            margin: 0 0 1.5rem 0; //bottom mobile 24px
            @include tablet {
                margin: 0 3.1vw 0 0; //24px right {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
                min-width: 348px; //348px {input: 348, rem: "21.8", mobileVW: "108.7", tabletVW: "45.3", desktopVW: "27.2"}
                max-width: 45.8vw; //420px {input: 420, rem: "26.3", mobileVW: "131.3", tabletVW: "54.7", desktopVW: "32.8"}
            }
            @include desktop {
                margin: 0 1.9vw 0 0; //24px right {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
                min-width: 420px; //420px {input: 420, rem: "26.3", mobileVW: "131.3", tabletVW: "54.7", desktopVW: "32.8"}
                max-width: 29.1vw; //420px in desktop xl {input: 420, rem: "26.3", mobileVW: "131.3", tabletVW: "54.7", desktopVW: "32.8", desktopxlVW: "29.1" }
            }
        }
        &__bottom {
            @include tablet {
                min-width: 348px; //348px {input: 348, rem: "21.8", mobileVW: "108.7", tabletVW: "45.3", desktopVW: "27.2"}
                max-width: 45.8vw; //420px {input: 420, rem: "26.3", mobileVW: "131.3", tabletVW: "54.7", desktopVW: "32.8"}
            }
            @include desktop {
                min-width: 420px; //420px {input: 420, rem: "26.3", mobileVW: "131.3", tabletVW: "54.7", desktopVW: "32.8"}
                max-width: 29.1vw; //420px in desktop xl {input: 420, rem: "26.3", mobileVW: "131.3", tabletVW: "54.7", desktopVW: "32.8", desktopxlVW: "29.1" }
                margin: 0 0 0 0;
            }
        }
    }