/************************************COMMENTS FEED SECTION************************************/

article {
    @include tablet {
        width: 528px; //528px 33rem 528/768 68.75vw
    }
}

form {
    background-color: $white;
}

.article-header {
    @include standard-padding-left-right;
    @include h1-main-header-black;
    min-width: 87.5vw; //mobile version {input: 280, rem: "17.5", mobileVW: "87.5", tabletVW: "36.5", desktopVW: "21.9"}
    max-width: 58.2vw; //448px{input: 447, rem: "27.9", mobileVW: "139.7", tabletVW: "58.2", desktopVW: "34.9"}
    display: inline-flex;
    margin: 2.0rem 0 2.5rem 0; //mobile: top 32px, 0, bottom 40px, 16px left
    @include tablet {
        // min-width: 58.2vw; //448px{input: 447, rem: "27.9", mobileVW: "139.7", tabletVW: "58.2", desktopVW: "34.9"}
        margin: 3.0rem 0rem 3.5rem 0; //top 48px 
        padding-right: 0;
    }
    @include desktop {
        margin: 3.0rem 0 3.5rem 0; //top 48px bottom 56px left 80px 
        padding-right: 0;
    }
}

.feed {
    @include standard-padding-left-right;
    .article-header {
        @include h1-main-header-black;
        width: 100%;
        display: inline;
        margin: 2.0rem 0 2.5rem 1rem; //mobile: top 32px, 0, bottom 40px, 16px left
        @include tablet {
            padding: 2.0rem 2rem 3.5rem 2rem; //top 48px 
        }
        @include desktop {
            padding: 3.0rem 1.5rem 3.5rem 5rem; //top 48px left 80px 
        }
    }
    &__avi {
        margin: 1.5rem 0 3.0rem 0; //top 24px mobile 48px top
        height: 3rem; // just seems like 48px
        width: 3rem; //just seems like 48px
        border-radius: 30px; //makes the images circle like in the mockup
        float: left;
        position: absolute;
        @include tablet {
            margin: 1.5rem 0px 0px 100px; //top 24px mobile left 124px-24=100px
            // width: 528px; //528px 33rem 528/768 68.75vw
        }
        @include desktop {
            margin: 1.5rem 0px 0px 196px; //top 24px desktop 264px-(size of avi 48px+20=68px)=196px margin between comment box and avi
        }
    }
    &__boxes {
        padding: 0 0 0 64px; //counted columns for mobile
        display: block;
        float: left;
        min-width: 70.0vw; //224px 20-16-16-24=224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
        max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
        //-bottom: $silver solid 0.063rem; //1px=0.063rem
        @include tablet {
            margin: 0 0 0 6.25rem; //100px like the avi
            min-width: 224px; //224px 20-16-16-24=224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
            max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
        }
        @include desktop {
            margin: 0 0 0 12.25rem; //68px*3+24px*3=264px  leftcounted columns for desktop
        }
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: $black;
        border-width: 0.2rem;
    }
    &__tag {
        padding: 0 0 0 0; //mobile padding
        box-sizing: border-box;
        @include h5-labels;
        //font-size: 3.8vw; //12px{input: 12, rem: "0.8", mobileVW: "3.8", tabletVW: "1.6", desktopVW: "0.9"}
        //line-height: 6.3vw; //20px {input: 20, rem: "1.3", mobileVW: "6.3", tabletVW: "2.6", desktopVW: "1.6"}
    }
    &__tag,
    &__alias-field,
    &__note-field {
        padding: 0 30vw 0 0; //move to right side page 
    }
    &__alias-field {
        box-sizing: border-box;
        font-size: 12px;
        color: $silver; //just a guess check later
        margin: 1rem 0 1rem 0; //16px
        min-width: 70.0vw; // 224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
        max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
        min-height: 10.0vw; //height of name box {input: 32, rem: "2.0", mobileVW: "10.0", tabletVW: "4.2", desktopVW: "2.5"}
        max-height: 48px; //height of name box {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
        border-radius: 4px; //round the corners of my name box 
        @include tablet {
            width: 28.75rem; //24*4+100*3+64 = 460px same size as desktop 28.75rem
            min-height: 48px; ///height of tablet name box 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
            max-height: 3.8vw; ///height of tablet desktop vw name box 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
            min-width: 460px; //24*4+100*3+64 = 460px same size as desktop
            max-width: 35.9vw; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
        }
        @include desktop {
            min-width: 460px; //24*4+100*3+64 = 460px same size as desktop
            max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
            min-height: 48px; ///height of tablet name box 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
            min-height: 3.8vw; ///height of tablet desktop vw name box 48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
        }
        padding: 3px 0 0 10px; //remove the 20vw padding for place holder and center it in the box check
    }
    &__note-field {
        box-sizing: border-box;
        border-radius: 0.25rem; //round the corners of my comment box 4px 0.25rem
        min-width: 70.0vw; // 224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
        max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
        min-height: 20.0vw; //64px {input: 64, rem: "4.0", mobileVW: "20.0", tabletVW: "8.3", desktopVW: "5.0"}
        max-height: 96px; //96px tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
        margin: 1rem 0 1rem 0; //for the spaces in between the text boxes 16px 
        resize: none;
        @include h4-list-contact-information;
        @include tablet {
            min-width: 460px; //24*4+100*3+64 = 460px same size as desktop
            max-width: 35.9vw; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
            min-height: 96px; //96px tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
            max-height: 7.5vw; //tablet size tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
        }
        @include desktop {
            min-width: 460px; //24*4+100*3+64 = 460px same size as desktop
            max-width: 460px; //460px {input: 460, rem: "28.8", mobileVW: "143.8", tabletVW: "59.9", desktopVW: "35.9"}
            min-height: 96px; //96px tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
            max-height: 7.5vw; //tablet size tablet size {input: 96, rem: "6.0", mobileVW: "30.0", tabletVW: "12.5", desktopVW: "7.5"}
        }
        padding: 10px 0 0 10px; //remove the 20vw padding for place holder and center it in the box check
    }
    &__button {
        @include button-biography;
        @include tablet {
            float: right;
        }
    }
}


/*****************************************CARD FEED SECTION***********************************/

.repository {
    display: flex;
    flex-flow: row wrap;
    min-width: 87.5vw; //280px //
    max-width: 36.5vw; //mobile version 320px -16px-16px=288px  {input: 280, rem: "17.5", mobileVW: "87.5", tabletVW: "36.5", desktopVW: "21.9"}
    margin: 0px 1rem 1.5rem 1rem; //top 40px bottom 40px  mobile padding 16px left for mobile 
    @include tablet {
        min-width: 528px; //width is actually 528px {input: 528, rem: "33.0", mobileVW: "165.0", tabletVW: "68.8", desktopVW: "41.3"}
        max-width: 41.3vw; //maxwidth desktop is actually 528px {input: 528, rem: "33.0", mobileVW: "165.0", tabletVW: "68.8", desktopVW: "41.3"}
        margin: 0 124px 1.5rem 124px;
    }
    @include desktop {
        margin: 40px 264px 0 264px; //desktop does not say counted column 64*3+24*3= 264px left 264px right
    }
    &__empty-container {
        width: 100%;
        padding: 1.5rem 1rem 0;
        @include tablet {
            max-width: 528px;
            margin: 0 auto;
            padding: 0rem 1rem 0;
        }
    }
    &__top-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        @include tablet {
            margin: 0 0 0 0;
        }
    }
    &__top-right-container {
        min-width: 240px;
        max-width: 75.0vw; //240px tablet vw  320px-48px-16px-16px=240px {input: 240, rem: "15.0", mobileVW: "75.0", tabletVW: "31.3", desktopVW: "18.8"}
        padding: 0 0 1.5rem 1.0rem; //64px mobile doesnt say the margin left but counting columns: looks like it needs an additional 48px to the left
        @include tablet {
            min-width: 476px;
            max-width: 476px; //has to be in px
            padding: 0px 0px 1.5rem 1.0rem; //24 top and bottom 68left 4.25rem
        }
    }
    &__top-right-left-container {
        padding: 24px 0 8px 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__border {
        @include divider;
    }
    &__avi {
        //margin: 0 1.5rem 0 0; //looks like 16px to the right 
        height: 3rem; // just seems like 48px
        width: 3rem; //just seems like 48px
        border-radius: 30px; //makes the images circle like in the mockup
        @include tablet {
            //margin: 0 1rem 0 0; //tablet 16px to the right
        }
    }
    &__name {
        min-width: 43.8vw; //140px {input: 140, rem: "8.8", mobileVW: "43.8", tabletVW: "18.2", desktopVW: "10.9"}
        max-width: 18.1vw; // 140px tablet vw{input: 139, rem: "8.7", mobileVW: "43.4", tabletVW: "18.1", desktopVW: "10.9"}
        @include h4-paragraphs-and-comments-bold;
        @include tablet {
            min-width: 140px; //40px {input: 40, rem: "2.5", mobileVW: "12.5", tabletVW: "5.2", desktopVW: "3.1"}
            max-width: 18.1vw; // 140px tablet vw{input: 40, rem: "2.5", mobileVW: "12.5", tabletVW: "5.2", desktopVW: "3.1"}
            line-height: none;
            height: 1rem;
        }
        @include desktop {
            min-width: 140px; // 140px tablet {input: 40, rem: "2.5", mobileVW: "12.5", tabletVW: "5.2", desktopVW: "3.1"}
            max-width: 140px; // 140px tablet vw{input: 40, rem: "2.5", mobileVW: "12.5", tabletVW: "5.2", desktopVW: "3.1"}
            line-height: none;
            height: 1rem;
        }
    }
    &__time {
        height: 1rem; //16px
        width: 9rem; //16px
        @include h4-list-contact-information;
    }
    &__comment {
        @include h4-list-contact-information;
    }
}