/************************************COMMENTS FEED SECTION************************************/

.form {
    @include standard-padding-left-right;
    background-color: $white;
    @include tablet {
        min-width: 68.8vw; //528px{input: 528, rem: "33.0", mobileVW: "165.0", tabletVW: "68.8", desktopVW: "41.3"}
        max-width: 41.3vw; // 528px 
    }
    @include desktop {
        max-width: 41.3vw; //528px 
    }
    &__header {
        @include h1-main-header-black;
        min-width: 87.5vw; //280px 
        max-width: 58.2vw; //448px
        display: inline-flex;
        margin: 2.0rem 0 2.5rem 0; //32px 0 40px 16px
        @include tablet {
            margin: 3.0rem 0rem 3.5rem 0; //48px 0 56px 0
            padding-right: 0;
        }
    }
    &__wrap {
        @include tablet {
            margin: 0 13.0vw 0 13.0vw; //100px
        }
        @include desktop {
            margin: 0 196px 0 196px; //196px
        }
    }
    &__binding {
        padding: 0 0 0rem; //32px
        @include tablet {
            padding: 0 0 2rem; //32px
        }
    }
    &__feed {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include tablet {
            padding: 0 0 2rem;
        }
    }
    &__avi {
        width: 3.0rem; // 48px 
        height: 3.0rem; // 48px 
        border-radius: 33.3px; //circle
        margin: 0 5.0vw 0 0; //16px
        position: relative;
        @include tablet {
            margin: 0 2.1vw 0 0;
        }
        @include desktop {
            margin: 0 1.3vw 0 0;
        }
    }
    &__boxes {
        padding: 0 0px 0 0px;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: $black;
        border-width: 0.2rem;
    }
    &__tag {
        box-sizing: border-box;
        @include h5-labels;
    }
    &__tag,
    &__alias-field,
    &__note-field {
        padding: 0 30vw 0 0; //move to right side page 
    }
    &__alias-field {
        background-color: $alabaster;
        @include h5-labels;
        box-sizing: border-box;
        border-radius: 4px; //round the corners of my name box 
        align-self: right;
        margin: 1rem 0 1rem 0; //16px
        width: 70.0vw; // 224px 
        height: 10.0vw; //32px
        padding: 1px 0 0 10px; //center placeholder
        @include tablet {
            width: 28.8rem; //460px
            height: 3.0rem; //48px 
        }
    }
    &__note-field {
        background-color: $alabaster;
        @include h5-labels;
        box-sizing: border-box;
        border-radius: 0.25rem; //4px
        width: 70.0vw; // 224px 
        height: 20.0vw; // 64px 
        margin: 1rem 0 1rem 0; //spaces in between the boxes 16px 
        resize: none;
        @include tablet {
            width: 28.8rem; //460px
            height: 6.0rem; //96px 
        }
        padding: 10px 0 0 10px; //center placeholder
    }
    &__repository {
        display: flex;
        flex-flow: row wrap;
        margin: 1px 0rem 1rem 0;
        @include tablet {
            margin: 0 124px 1.5rem 0; //0 124px 24px 0 
        }
        @include desktop {
            margin: 40px 264px 0 0; //40px 0 264px 0
        }
    }
    &__empty-container {
        // width: 90.0vw; //288px 90.0vw
        width: 100%;
        padding: 1.5rem 0rem 0;
        @include tablet {
            width: 528px;
            margin: 0 auto;
            padding: 0rem 1rem 0;
        }
    }
    &__top-container {
        display: flex;
        padding-bottom: 1rem;
        @include tablet {
            margin: 0 0 0 0;
        }
    }
    &__top-right-container {
        width: 62.50vw; //62.50vw 200px
        padding: 0 0 1.5rem 0;
        @include tablet {
            width: 27.8rem; // 444px 27.8rem 
        }
    }
    &__top-right-left-container {
        padding: 1.5rem 0 0.5rem 0; //24px 0 8px 0
        display: flex;
        width: 100%;
    }
    &__border {
        @include divider;
    }
    &__avi {
        margin: 0 1.3rem 0 0; //20px to the right 
        height: 3rem; // 48px
        width: 3rem; //48px
        border-radius: 33.33px; //circle
    }
    &__name {
        width: 140px;
        @include h4-paragraphs-and-comments-bold;
        @include tablet {
            line-height: none;
            height: 1rem;
        }
    }
    &__time {
        height: 1rem; //16px
        width: 132px;
        @include h4-list-contact-information;
        @include tablet {
            width: 132px;
        }
    }
    &__comment {
        @include h4-list-contact-information;
        width: 62.50vw; //62.50vw 200px
        @include tablet {
            width: 444px; //444px 27.8rem 
        }
    }
    &__button {
        @include button-biography;
        @include tablet {
            float: right;
        }
    }
}


/*****************************************CARD FEED SECTION***********************************/