/************************************HERO CONTAINER****************************/

.hero-container {
    display: flex;
    position: relative;
    background-image: url("../assets/images/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(50, 50, 50, 0.50);
     ::before {
        content: "";
        position: absolute;
        top: 0rem;
        right: 0rem;
        bottom: 0rem;
        left: 0rem;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: -1;
    }
    min-height: 147.5vw; //472px
    max-height: 87.2vw; //670px tablets 
    &__mobile-size-biography {
        min-height: 183px; //183px 
        max-height: 57.2vw; //183px
    }
    @include tablet {
        min-height: 670px; //670px
        max-height: 52.3vw; //670px
        &--sizing {
            min-height: 400px; //400px 
            max-height: 52.1vw; //400px
        }
    }
    @include desktop {
        margin: 0 0 3rem 0; //48px
    }
    &--scale {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__box {
        @include standard-padding-left-right;
        color: $white;
        margin: 4.0rem 0; //64px 
        &--mobile-box-size-shows {
            min-width: 288px; //288px 
            max-width: 90.0vw; //288px 
        }
        &--mobile-box-size-biography {
            min-width: 224px; //224px  
            max-width: 70.0vw; //224px 
        }
        z-index: 1;
        @include tablet {
            margin: 6.0rem 0; //96px 
            min-width: 564px; //564px 
            max-width: 73.4vw; //564px 
        }
        @include desktop {
            margin: 10.0rem 0; //160px
            min-width: 568px; //552px 
            max-width: 43.1vw; //552px 
        }
    }
    &__title {
        @include h2-header-responsive-white; //make hero text reponsive but only for mobile
        @include tablet {
            @include h2-header-white;
        }
    }
    &__text {
        z-index: 1;
        &--mobile-font-size-shows {
            @include h1-main-header-tablet-desktop-responsive; //based on the mockup this is the ideal size for the mobile hero heading looks perfect
        }
        &--mobile-font-size-biography {
            @include h1-main-header-responsive; //make hero text reponsive but only for mobile
        }
        @include tablet {
            @include h1-hero-heading;
        }
    }
    &__soundcloud {
        @include standard-padding-left-right;
        position: absolute;
        z-index: 1;
        align-self: flex-end; //push soundcloud to bottom of container
        margin: 0 0 20.0vw 0; //64px
        width: 90.0vw; // 288px 
        height: 30.0vw; //96px 
        @include tablet {
            margin: 0 0 6.3vw 0; //48px match 
            width: 56.8vw; //436px {input: 436, rem: "27.3", mobileVW: "136.3", tabletVW: "56.8", desktopVW: "34.1"}
            height: 19.0vw; //146px {input: 146, rem: "9.1", mobileVW: "45.6", tabletVW: "19.0", desktopVW: "11.4"}
        }
        @include desktop {
            padding: 0; //remove standard padding mixin
            margin: 0 0 14.7rem 0; //274px {input: 274, rem: "17.1", mobileVW: "85.6", tabletVW: "35.7", desktopVW: "21.4"}
            position: relative;
            height: 146px;
            width: 436px;
        }
    }
}