/************************************HERO CONTAINER****************************/

.hero-container {
    display: flex;
    position: relative;
    background-image: url("../assets/images/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(50, 50, 50, 0.50);
     ::before {
        content: "";
        position: absolute;
        top: 0rem;
        right: 0rem;
        bottom: 0rem;
        left: 0rem;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: -1;
    }
    min-height: 147.5vw; //472px
    max-height: 87.2vw; //670px tablets 
    &__mobile-size-biography {
        min-height: 183px; //183px 
        max-height: 57.2vw; //183px
    }
    @include tablet {
        min-height: 670px; //670px
        max-height: 52.3vw; //670px
        &--sizing {
            min-height: 400px; //400px 
            max-height: 52.1vw; //400px
        }
    }
    @include desktop {
        margin: 0 0 3rem 0; //48px
    }
    &--scale {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__box {
        @include standard-padding-left-right;
        color: $white;
        margin: 4.0rem 0; //64px 
        z-index: 1;
        &--mobile-box-size-biography {
            min-width: 210px; //210x 
            max-width: 27.3vw; //210px 
        }
        &--mobile-box-size-shows {
            min-width: 288px; //288px 
            max-width: 90.0vw; //288px 
        }
        @include tablet {
            margin: 6.0rem 0; //96px 
            &--tablet-box-size-biography {
                min-width: 510px; //apx 500px
                max-width: 39.8vw; //apx 500px
                // max-width: 60.1vw; //500px
            }
            &--tablet-box-size-shows {
                min-width: 569px; //564px 74.1
                max-width: 74.1vw; //564px 
            }
        }
        @include desktop {
            margin: 10.0rem 0; //160px
            &--desktop-box-size-biography {
                min-width: 528px; //528px
                max-width: 41.3vw; //528px
            }
            &--desktop-box-size-shows {
                min-width: 568px; //552px 484px
                max-width: 30.8vw; //552px  484px 37.8
            }
        }
    }
    &__title {
        margin: 0 0 48px 0;
        @include h2-header-responsive-white; //make hero text reponsive but only for mobile
        @include tablet {
            @include h2-header-white;
        }
    }
    &__text {
        z-index: 1;
        &--font-size-shows {
            @include h1-main-header-tablet-desktop-responsive; //based on the mockup this is the ideal size for the mobile hero heading looks perfect
            @include tablet {
                @include h1-hero-heading;
            }
            @include desktop {
                @include h1-hero-heading;
            }
        }
        &--font-size-biography {
            @include h1-main-header; //make hero text reponsive but only for mobile
            @include tablet {
                @include h1-hero-heading;
                //564px 74.1
            }
        }
    }
    &__soundcloud {
        @include standard-padding-left-right;
        position: absolute;
        z-index: 1;
        align-self: flex-end; //push soundcloud to bottom of container
        margin: 0 0 20.0vw 0; //64px
        width: 90.0vw; // 288px 
        height: 30.0vw; //96px 
        @include tablet {
            margin: 0 0 6.3vw 0; //48px match 
            width: 436px;
            height: 146px;
        }
        @include desktop {
            padding: 0; //remove standard padding mixin
            margin: 0 0 17.7rem 0; //274px {input: 274, rem: "17.1", mobileVW: "85.6", tabletVW: "35.7", desktopVW: "21.4"}
            position: relative;
            height: 146px;
            width: 436px;
        }
    }
}