/***************************************PADDING**************************************************/

@mixin standard-padding-left-right {
    padding: 0 5.0vw 0 5.0vw; //16px right 16px left { input: 16, rem: "1.0", mobileVW: "5.0", tabletVW: "2.1", desktopVW: "1.3" }
    @include tablet {
        padding: 0 3.1vw 0 3.1vw; //24px right 24px left  { input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9" }
    }
    @include desktop {
        padding: 0 6.3vw 0 6.3vw; //80px right 80px left { input: 80, rem: "5.0", mobileVW: "25.0", tabletVW: "10.4", desktopVW: "6.3" }
    }
}

@mixin standard-margin-left-right {
    margin: 0 5.0vw 0 5.0vw; //16px right 16px left { input: 16, rem: "1.0", mobileVW: "5.0", tabletVW: "2.1", desktopVW: "1.3" }
    @include tablet {
        margin: 0 3.1vw 0 3.1vw; //24px right 24px left  { input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9" }
    }
    @include desktop {
        margin: 0 6.3vw 0 6.3vw; //80px right 80px left { input: 80, rem: "5.0", mobileVW: "25.0", tabletVW: "10.4", desktopVW: "6.3" }
    }
}


/**********************************************DIVIDERS******************************************************/

@mixin logo-bandsite {
    min-width: 37.5vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
    min-height: 7.5vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
    max-width: 15.6vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
    max-height: 3.1vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
    @include tablet {
        min-width: 15.6vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
        min-height: 3.1vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
        min-width: 15.6vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
        min-height: 3.1vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
    }
    @include desktop {
        min-width: 9.4vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
        min-height: 1.9vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
        max-width: 9.4vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
        max-height: 1.9vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
    }
    img {
        min-width: 37.5vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
        min-height: 7.5vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
        max-width: 15.6vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
        max-height: 3.1vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
        @include tablet {
            min-width: 15.6vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
            min-height: 3.1vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
            min-width: 15.6vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
            min-height: 3.1vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
        }
        @include desktop {
            min-width: 9.4vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
            min-height: 1.9vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
            max-width: 9.4vw; //120px{input: 120, rem: "7.5", mobileVW: "37.5", tabletVW: "15.6", desktopVW: "9.4"}
            max-height: 1.9vw; //24px  {input: 24, rem: "1.5", mobileVW: "7.5", tabletVW: "3.1", desktopVW: "1.9"}
        }
    }
}

@mixin divider {
    background: $mercury;
    width: 100%;
    min-height: 0.3vw; //{input: 1, rem: "0.1", mobileVW: "0.3", tabletVW: "0.13", desktopVW: "0.1"}
    max-height: 0.13vw; //{input: 1, rem: "0.1", mobileVW: "0.3", tabletVW: "0.13", desktopVW: "0.1"}
    @include tablet {
        min-height: 0.13vw; //{input: 1, rem: "0.1", mobileVW: "0.3", tabletVW: "0.13", desktopVW: "0.1"}
        max-height: 0.1vw; //{input: 1, rem: "0.1", mobileVW: "0.3", tabletVW: "0.13", desktopVW: "0.1"}
    }
    @include desktop {
        min-height: 0.1vw; //{input: 1, rem: "0.1", mobileVW: "0.3", tabletVW: "0.13", desktopVW: "0.1"}
        max-height: 0.1vw; //{input: 1, rem: "0.1", mobileVW: "0.3", tabletVW: "0.13", desktopVW: "0.1"}
    }
}

@mixin button {
    background-color: $black;
    font-family: AvenirNextLTProRegular;
    color: $white;
    &:hover {
        background: black;
    }
    &:focus {
        outline: none;
    }
    min-width: 90vw; //288px /mobile needs to be 288px {input: 288, rem: "18.0", mobileVW: "90.0", tabletVW: "37.5", desktopVW: "22.5"}
    max-width: 90vw; //288px {input: 288, rem: "18.0", mobileVW: "90.0", tabletVW: "37.5", desktopVW: "22.5"}
    min-height: 10.0vw; //32px {input: 32, rem: "2.0", mobileVW: "10.0", tabletVW: "4.2", desktopVW: "2.5"}
    max-height: 15.0vw; //48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
    border-radius: 4px; //round the corners of my button
    margin: 1rem 0 1rem 0px; //16 bottom
    @include tablet {
        min-width: unset; //remove responsive button 
        max-width: unset; //remove responsive button 
        min-height: unset; //remove responsive button 
        max-height: unset; //remove responsive button 
        padding: 0;
        width: 160px; //160px {input: 160, rem: "10.0", mobileVW: "50.0", tabletVW: "20.8", desktopVW: "12.5"}
        height: 3.0rem; //48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
    }
    @include desktop {
        padding: 0;
        margin: 1rem 0 1rem 0; //16px top 16px check 
    }
}

@mixin button-biography {
    background-color: $black;
    @include h4-paragraphs-and-comments-white-demi;
    &:hover {
        background: black;
    }
    &:focus {
        outline: none;
    }
    min-width: 65.5vw; //it's acting up 224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
    max-width: 29.2vw; // 224px {input: 224, rem: "14.0", mobileVW: "70.0", tabletVW: "29.2", desktopVW: "17.5"}
    min-height: 10.0vw; //32px {input: 32, rem: "2.0", mobileVW: "10.0", tabletVW: "4.2", desktopVW: "2.5"}
    max-height: 15.0vw; //48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
    border-radius: 4px; //round the corners of my button
    margin: 1rem 0 1rem 0px; //16 bottom
    @include tablet {
        min-width: unset; //remove responsive button 
        max-width: unset; //remove responsive button 
        min-height: unset; //remove responsive button 
        max-height: unset; //remove responsive button 
        padding: 0;
        width: 160px; //160px {input: 160, rem: "10.0", mobileVW: "50.0", tabletVW: "20.8", desktopVW: "12.5"}
        height: 3.0rem; //48px {input: 48, rem: "3.0", mobileVW: "15.0", tabletVW: "6.3", desktopVW: "3.8"}
    }
    @include desktop {
        padding: 0;
        margin: 1rem 0 1rem 0; //16px top 16px check 
    }
}