/************************************MAIN NAV************************************/

.main-nav {
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $silver;
    min-height: 80px; //80px mobile 25.0vw
    max-height: 25vw; //80px tablet
    @include tablet {
        @include width-100-percent-at-standard-padding;
        @include standard-padding-left;
        flex-direction: row;
        min-height: 80px; //80px tablet tablet
        max-height: 80px; //80px desktop
        justify-content: flex-start;
        align-items: center;
    }
    @include desktop {
        min-height: 80px; //80px desktop
        max-height: 80px; //80px 
    }
    &__trademark {
        margin: 5.0vw 0 0; //16px
        @include logo-bandsite;
        @include tablet {
            margin: 2.1vw 7.3vw 2.1vw 0; //16px 56px 16px 0 
        }
        @include desktop {
            margin: 1.3vw 4.4vw 1.3vw 0; //16px 56px 16px 0 
        }
    }
    &__list {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        list-style-type: none;
        @include tablet {
            align-items: stretch;
            width: 32.3vw; // 248px width of list tablet
            height: 100%;
        }
        @include desktop {
            width: 28.7vw; ///368px desktop
        }
    }
    &__item {
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 0 0 0.8vw 0; //12px {input: 12, rem: "0.8", mobileVW: "3.8", tabletVW: "1.6", desktopVW: "0.9"}
        @include tablet {
            align-items: center;
            width: 10.4vw; ///80px mobile{ input: 80, rem: "5.0", mobileVW: "25.0", tabletVW: "10.4", desktopVW: "6.3"}
            padding: 2.9vw 0; //28px{input: 28, rem: "1.8", mobileVW: "8.8", tabletVW: "3.6", desktopVW: "2.2"}
            margin: 0 7.3vw 0 0; //56px{input: 56, rem: "3.5", mobileVW: "17.5", tabletVW: "7.3", desktopVW: "4.4"}
        }
        @include desktop {
            width: 6.3vw; ///80px mobile
            padding: 2.2vw 0; //28px
            margin: 0 4.4vw 0 0; //56px
        }
        &--active {
            border-bottom: solid 1.5vw $white; //5px
            @include tablet {
                border-bottom: solid 0.7vw $white; //5px
            }
            @include desktop {
                border-bottom: solid 0.4vw $white; //5px
            }
        }
    }
    &__link {
        @include h4-list-contact-information-responsive-white-demi; //nav bar responsive
        @include tablet {
            @include h4-list-contact-information-white-demi;
        }
        text-decoration: none;
        color: $silver;
        text-decoration: none;
        transition: letter-spacing 0.1s;
        &:hover {
            letter-spacing: 1.0px;
        }
        &--active {
            @include h4-list-contact-information-responsive-white-demi; //nav bar responsive
            @include tablet {
                @include h4-list-contact-information-white-demi;
            }
        }
    }
}